<?xml version="1.0" encoding="UTF-8" ?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
        http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
	version="1.0">

	<persistence-unit name="goldroomPU" transaction-type="RESOURCE_LOCAL">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<class>com.alibaba.intl.goldroom.dataobject.BookInfo</class>
		<class>com.alibaba.intl.goldroom.dataobject.BookItem</class>
		<class>com.alibaba.intl.goldroom.dataobject.BookItemLog</class>
		<class>com.alibaba.intl.goldroom.dataobject.Category</class>
		<class>com.alibaba.intl.goldroom.dataobject.Integral</class>
		<class>com.alibaba.intl.goldroom.dataobject.Lending</class>
		<class>com.alibaba.intl.goldroom.dataobject.Member</class>
		<class>com.alibaba.intl.goldroom.dataobject.MemberLog</class>
		<class>com.alibaba.intl.goldroom.dataobject.Reservation</class>
		<class>com.alibaba.intl.goldroom.dataobject.AdminConfig</class>
		<class>com.alibaba.intl.goldroom.dataobject.Comment</class>
	</persistence-unit>
</persistence>