<script>
	//获取选择的年月 ，组成 年-月-日的形式
	function getYearMonthDay(id){
		var year = document.getElementById("year").value;
		var month = document.getElementById("month").value;
		document.getElementById(id).value = year+"-"+month+"-01";
	}
	
</script>

<select id="year" name="year">
	<script>
		var optionStr = "";
		var now = new Date();
		var currentYear = now.getFullYear();
		var i =currentYear;
		while(i>=1900){
			optionStr += "<option value="+ i +">"+i+"</option>";
			i--;
		}
		document.write(optionStr);
	
	</script>	
</select>
<label for="year">年</label>
<select id="month" name="month">
	<script>
		var i =1;
		var optionStr="";
		while(i<=12){
			optionStr += "<option value="+ i +">"+i+"</option>";
			i++;
		}
		document.write(optionStr);
	
	</script>	
</select>
<label for="month">月</label>