 <table width="330" cellspacing="0" cellpadding="0" border="0" >
    <tr><td style="text-align:left">
			<div style="font-size:13px;color:#75A413; width:95%; left:5%; position:relative;">
				<font style="font-size:16px;">Gold Room 号外...</font>
				<li> 公测帐号将于2009年11月9日接受申请</li>
				<li> 2009年11月9日 Gold Room公测开始。大家来找bug</li>
				<li> 报bug热线：<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a target="_blank" href="https://www.cn.alibaba-inc.com/staffinfo.nsf/9b6eaf128b52f9be482573540036c7df/4c20e3615960df354825756100539571?OpenDocument&Highlight=0,xiaogy">
					肖刚毅</a>&nbsp;&nbsp;<A href=" http://web.im.alisoft.com/msg.aw?v=2&amp;uid=xiaogy1012&amp;site=cnalichn&amp;s=1" target=_blank><IMG border=0 alt=点击这里给我发消息 src=" http://web.im.alisoft.com/online.aw?v=2&amp;uid=xiaogy1012&amp;site=cnalichn&amp;s=1"></A>
					:界面、搜索<br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a target="_blank" href="https://www.cn.alibaba-inc.com/staffinfo.nsf/9b6eaf128b52f9be482573540036c7df/6813bc28881a06154825756100539579?OpenDocument&Highlight=0,%E5%BA%84%E9%92%8A%E6%96%87">
					庄钊文</a>&nbsp;&nbsp;<A href=" http://web.im.alisoft.com/msg.aw?v=2&amp;uid=zimmem&amp;site=cnalichn&amp;s=1" target=_blank><IMG border=0 alt=点击这里给我发消息 src=" http://web.im.alisoft.com/online.aw?v=2&amp;uid=zimmem&amp;site=cnalichn&amp;s=1"></A>
					:权限、图书借阅流程<br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a target="_blank" href="https://www.cn.alibaba-inc.com/staffinfo.nsf/9b6eaf128b52f9be482573540036c7df/8f75231836cd518948257408001e8ca2?OpenDocument&Highlight=0,%E9%92%AE%E7%A8%8B%E6%98%8A">
					钮程昊</a>&nbsp;&nbsp;<A href=" http://web.im.alisoft.com/msg.aw?v=2&amp;uid=niuchenghao&amp;site=cnalichn&amp;s=1" target=_blank><IMG border=0 alt=点击这里给我发消息 src=" http://web.im.alisoft.com/online.aw?v=2&amp;uid=niuchenghao&amp;site=cnalichn&amp;s=1"></A>
					:帐号申请，修改用户信息<br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a target="_blank" href="https://www.cn.alibaba-inc.com/staffinfo.nsf/9b6eaf128b52f9be482573540036c7df/a2627ec85c73c7e4482575e50048ef3b?OpenDocument&Highlight=0,%E5%90%B4%E6%B1%89%E6%9D%B0">
					吴汉杰</a>&nbsp;&nbsp;<A href=" http://web.im.alisoft.com/msg.aw?v=2&amp;uid=wutianyi860728&amp;site=cnalichn&amp;s=1" target=_blank><IMG border=0 alt=点击这里给我发消息 src=" http://web.im.alisoft.com/online.aw?v=2&amp;uid=wutianyi860728&amp;site=cnalichn&amp;s=1"></A>
					:书籍封面上传<br/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<a target="_blank" href="https://www.cn.alibaba-inc.com/staff_outsourcing.nsf/All/BA28AB83864402D4482575E5000FA9A1?Open">
					胡怀文</a>&nbsp;&nbsp;<A href=" http://web.im.alisoft.com/msg.aw?v=2&amp;uid=1004069&amp;site=cnalichn&amp;s=1" target=_blank><IMG border=0 alt=点击这里给我发消息 src=" http://web.im.alisoft.com/online.aw?v=2&amp;uid=1004069&amp;site=cnalichn&amp;s=1"></A>
					:其他
				</li>
				<li> <a target="_blank" href="mailto:alibaba.library@gmail.com">海量意见、建议箱</a></li>
					
					
					
			</div>
	</td></tr>
 </table>
 