<h1>FAQ</h1>
<table align="center" width="50%">
	<tr><td align="center">
	<p align="left">
		<h2><a href="#onShelves">1.书籍如何上架</a></h2>
		<h2><a href="#lend">2.如何借阅书籍</a></h2>
		<h2><a href="#return">3.如何归还书籍</a></h2>
	</p>
	
	<hr size="1"/>
	</td></tr>
    <tr><td>
	  <a name="onShelves">
		1.书籍如何上架
	  <img src="$SERVER_NAME/images/faq/onShelves.jpg"/>
	  </a>
	  <hr size="1"/>
	</td>
	</tr>
	 <tr><td>
	  <a name="lend">
		2.如何借阅书籍
	  <img src="$SERVER_NAME/images/faq/lend.jpg"/>
	  </a>
	  <hr size="1"/>
	</td>
	</tr>
	 <tr><td>
	  <a name="return">
		3.如何归还书籍
	  <img src="$SERVER_NAME/images/faq/return.jpg"/>
	  </a>
	  
	</td>
	</tr>
</table>