#parse("macro/serverName.vm")
<table width="100%" cellspacing="0" cellpadding="3" border="0">
<form action="$SERVER_NAME/search.htm" method="get" name="search" id="search">
	<input type="hidden" name="isAdvancedSearch" value="true"/>
	<tbody>
    <tr>
      <td align="center"><h1>高级搜索</h1></td>
    </tr>
    <tr>
      <td align="center">
          <table>
            <tr>
              <td align="right">书本名称：</td>
              <td align="left"><input  type="text" name="bookName"/></td>
            </tr>
            <tr>
              <td align="right">出版社：</td>
              <td align="left"><input  type="text" name="publisher"/></td>
            </tr>
             <tr align="right">
              <td>ISBN：</td>
              <td align="left"><input  type="text" name="isbn"/></td>
            </tr>
            <tr align="right">
              <td>描述信息：</td>
              <td align="left"><input  type="text" name="description"/></td>
            </tr>
            <!--<tr align="right">
              <td>上架时间：</td>
              <td align="left"><select name="daysBefore">
                  <option value="0">所有时间范围</option>
                  <option value="3">近3天</option>
                  <option value="10">近10天</option>
                  <option value="30">近30天</option>
                  <option value="40">大于30天</option>
                </select></td>
			</tr>-->
            <tr>
              <td colspan="2" align="center"><input type="submit" value="搜索"/>
              </td>
            </tr>
          </table>
        </td>
    </tr>
  </tbody>
</form>
</table>