<table >
    <tr >
        <td >NAME
        </td>
        <td >$!{bookInfo.name}
        </td>
    </tr>
    <tr>
        <td>AUTHOR</td>
        <td >
            $!{bookInfo.author}</td>
    </tr>
    <tr >
        <td >isbn
        </td>
        <td >$!{bookInfo.isbn}
        </td>
    </tr>
    <tr >
        <td >DESCRIPTION
        </td>
        <td >$!{bookInfo.description}
        </td>
    </tr>
    <tr >
        <td >PUBLISHER
        </td>
        <td >$!{bookInfo.publisher}
        </td>
    </tr>
</table>
