<table>
	<tr>
		<td>ID</td>
		<td>Book name</td>
		<td>shelve time</td>
	</tr>
#foreach($bookItem in $bookItems)
	<tr>
		<td>$!{bookItem.id}</td>
		<td>Book name</td>
		<td>$!{bookItem.firstAddTime}</td>
	</tr>
#end
</table>