<table>
	<tr ><td>#parse("bookInfoDetail.vm")
	</td>
    </tr>
	<tr>
		<td>
			<form action="/user/confirmedShelves.htm" method="POST">
				<input type="hidden" name="isbn" value="$!{bookInfo.isbn}"/>
				<table>
					<tr>
						<td><input  type="submit" value ="确定上架"/>
						</td>
					</tr>
				</table>
			</form>
        </td>
    </tr>
	</table>