
<!-- page body -->
<table border="0" cellpadding="3" cellspacing="0" style="width:80%; margin:auto;">
  <tbody>
	<!-- Header, search box-->
	<tr>
    <td align="left" valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody><tr>
        <td align="left" valign="top" width="40%"><img src="$SERVER_NAME/images/logo_internal.png" alt="opensubscriber" height="105" width="399"></td>
        <td align="right" valign="middle" width="60%">
            <table width="100%"><tr><td align="right">
			#if($userUtil.userName)<font color="#75A413" size="2">
			    $userUtil.userName &nbsp;&nbsp; <a href="$SERVER_NAME/logout.htm">[注销]</a>
			#else
				<a href="$SERVER_NAME/login.htm"><font color="#75A413" size="2" style="text-decoration:none;">[登录]</font></a>
			#end
			&nbsp;&nbsp;<a href="$SERVER_NAME/advancedSearch.htm"><font color="#75A413" size="2" style="text-decoration:none;">[高级搜索]</font></a>
			</td></tr>
			<tr><td align="right">
				#parse("widget/searchBox.vm")
			</td></tr></table>
		</td>
      </tr>
    </tbody></table></td>
  </tr><!-- END Header, search box-->
  
  <!-- Main Menu-->
  <tr>
    <td class="nav_internal" align="left" valign="middle">
	<a href="$SERVER_NAME/home.htm">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="$SERVER_NAME/advancedSearch.htm">搜索书籍</a>&nbsp;&nbsp;&nbsp;&nbsp;
	#if(!$!authz.anyGranted("ROLE_USER,ROLE_ADMIN"))
		<a href="$SERVER_NAME/login.htm">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;
	#end
	<a href="$SERVER_NAME/faq/index.htm">FAQ</a>&nbsp;&nbsp;&nbsp;&nbsp;
	
	#if($!authz.anyGranted("ROLE_USER,ROLE_ADMIN"))
		|&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="$SERVER_NAME/user/myBooks.htm">我的书籍</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="$SERVER_NAME/user/reservatedBooks.htm">我要预约</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="$SERVER_NAME/user/lendedBooks.htm">我要还书</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="$SERVER_NAME/user/beforeShelve.htm">书籍上架</a>&nbsp;&nbsp;&nbsp;&nbsp;
	#end
	
	
	</td>
  </tr>
  <!-- End Main Menu-->
  <!-- BreadCrumb-->
  #if($breadCrumb)
  <tr>
    <td align="left" valign="middle">$breadCrumb.view</td>
  </tr>
  #end

    

</table>
  <!-- End BreadCrumb-->
