
<br>
<table style="width: 80%;margin:auto;" height="550px" cellspacing="0" cellpadding="3" border="0">
  <tr>
    <td width="62%" valign="top">
		<h2>最近上架的书籍......</h2>
        	<table align="center">
            	<tr>
				#foreach($book in $newBookList)
                <td align="center" width="150px">
					<table><tr><td style="height:160; text-align:center; vertical-align:middle">
					<a href="$SERVER_NAME/searchBookDetail.htm?id=$book.bookInfoId" target="_blank"><img class="bookImage" src="$UPLOAD_IMAGE_PATH/$book.bookImgUrl"/></a>
                    </td></tr></table>
					<a href="$SERVER_NAME/searchBookDetail.htm?id=$book.bookInfoId" target="_blank">$book.bookName</a>
                </td>
				#end
                </tr>
            </table>
        <br/><br/>
        <h2>最受欢迎的书籍</h2>
			<table align="center">
            	<tr>
				#foreach($book in $popularBookList)
                <td align="center" width="150px">
					<table><tr><td style="height:160; text-align:center; vertical-align:middle">
					<a href="$SERVER_NAME/searchBookDetail.htm?id=$book.bookInfoId" target="_blank"><img class="bookImage" src="$UPLOAD_IMAGE_PATH/$book.bookImgUrl"/></a>
					</td></tr></table>
					<a href="$SERVER_NAME/searchBookDetail.htm?id=$book.bookInfoId" target="_blank">$book.bookName</a>
                </td>
				#end
                </tr>
            </table>
	</td>
	<td width="50" valign="top">
	</td>
    <td width="330px" valign="top">
		#if($userName)
			#parse("widget/userMenu.vm")
		#else
			#parse("widget/loginBox.vm")
		#end
	</td>
  </tr>  
</table>
