<table style="width: 80%;margin:auto;" cellspacing="0" cellpadding="3" border="0">
  <tbody>
    <tr>
      <td colspan="2" align="center"><h1>$bookSearchInfo.bookName</h1></td>
    </tr>
    <tr>
      <td width="300" align="right">
		#if($$bookSearchInfo.bookImgUrl && !$bookSearchInfo.getBookImgUrl().equals(""))
			<img id="bookCoverImage" class="bookImage" src="$UPLOAD_IMAGE_PATH/$bookSearchInfo.bookImgUrl"/>
		#else
			<img id="bookCoverImage" class="bookImage" src="$SERVER_NAME/images/noPhoto.png"/>
		#end
	  </td>
      <td width="600"><table width="100%"">
          <tr>
            <td align="right" width="20%">作者:&nbsp;&nbsp;</td>
            <td align="left">$bookSearchInfo.bookAuthor</td>
          </tr>
          <tr>
            <td align="right">ISBN:&nbsp;&nbsp;</td>
            <td align="left">$bookSearchInfo.bookIsbn</td>
          </tr>
          <tr>
            <td align="right">出版社:&nbsp;&nbsp;</td>
            <td align="left">$bookSearchInfo.bookPublisher</td>
          </tr>
          <tr>
            <td align="right">出版时间:&nbsp;&nbsp;</td>
            <td align="left">$bookSearchInfo.bookPublishTime</td>
          </tr>
          <tr>
            <td align="right">版次:&nbsp;&nbsp;</td>
            <td align="left">$bookSearchInfo.bookEdition</td>
          </tr>
          <tr>
            <td align="right">描述:&nbsp;&nbsp;</td>
            <td align="left"><p>$bookSearchInfo.bookDescription
            </p></td>
          </tr>
		  <tr>
            <td colspan="2" align="left"><a href="$SERVER_NAME/searchBookDetail.htm?id=${bookSearchInfo.bookInfoId}&showOwners=true">查看拥有该图书的人</a></td>
		  </tr>
        </table></td>
    </tr>
  </tbody>
</table>

<br/>
#if($bookItemList && $bookItemList.size()==0)
暂无
#elseif($bookItemList.size()>0)
<table width="100%" cellspacing="0" cellpadding="3" border="1" bordercolor="#cce4a3" >
  <tbody>
    <tr>
      <td colspan="4" align="center"><h1>拥有该书的人</h1></td>
    </tr>
    <tr align="center">
      <td class="lines" width="15%" valign="top" bgcolor="#ACD36B">姓名</td>
      <td class="lines" width="15%" valign="top" bgcolor="#ACD36B">上架时间</td>
      <td class="lines" width="15%" valign="top" bgcolor="#ACD36B">旺旺</td>
      <td class="lines" width="15%" valign="top" bgcolor="#ACD36B">&nbsp;</td>
    </tr>
	#foreach($bookItem in $bookItemList)
		#foreach($owner in $ownerInfoList)
			#if($owner.getLoginId().equals($bookItem.getLoginId()))
            <tr align="center">
        		<td>$owner.name
        		</td>
              <td>$bookItem.addTime</td>
              <td>
        		<A href=" http://web.im.alisoft.com/msg.aw?v=2&amp;uid=$owner.aliTalkId&amp;site=cnalichn&amp;s=1" target=_blank><IMG border=0 alt=点击这里给我发消息 src=" http://web.im.alisoft.com/online.aw?v=2&amp;uid=$owner.aliTalkId&amp;site=cnalichn&amp;s=1"></A>
        	  </td>
              <td>
	
				#if($bookItem.getState().equals("idle"))
					<form action="/user/reserveBook.htm" name="reserveForm" method="POST">
						<input type="hidden" name="bookItemId" id="bookItemId" value="$bookItem.id"/>
						<input type="submit" value="预约"/>
					</form>					
				#else
						不能预约
				#end
              </td>
            </tr>
			#end
		#end
	#end
  </tbody>
</table>
#end
</br>