

<table class="blue" width="100%">
	
	<tbody>
		<tr>
			<td valign="top" align="center">
				#springBind("user.*")
				#validationError()
			<form method="POST" name="aaa">
			<table  width="330" cellspacing="0" cellpadding="0" border="0">
				<tr> 
              <td align="left" valign="top"><img src="images/boxlogin_top.gif" width="330" height="7"></td> 
            </tr> 
            <tr> 
              <td align="left" valign="top" class="boxlogin"> 
              User Name:<br> 
              #springFormInput("user.username" 'size="45" maxlength="45"') 
                <br> 
                Age:<br> 
               #springFormInput("user.age" 'size="45" maxlength="45"')<br> 
                
                <br>#springShowErrors("</br>" "")
						<div style="display: none;"> 
							<a href="javascript:document.aaa.submit();">Google me this</a> 
						</div> 
						<table border="0" cellpadding="0" cellspacing="0" onclick="window.location.href='javascript:document.aaa.submit();'" style="cursor:pointer">	
							<tr> 
								<td><img src="images/button_dark_left.gif" border="0"/></td> 
								<td class="button_dark">
									Submit
								</td> 
								<td><img src="images/button_dark_right.gif" border="0"/></td>		
							</tr> 
						</table> 	
              	<input name="submitted" type="hidden" id="submitted" value="true"><br>			 
                </td> 
            </tr> 
            <tr> 
              <td align="left" valign="top"><img src="images/boxlogin_bottom.gif" width="330" height="7"></td> 
            </tr> 
				
			</table>
			</form>
			</td>
		</tr>
	</tbody>
</table>
<table>
#foreach($user in $list)
<tr>
	<td>$!{user.username}</td>
	<td>$!{user.age}</td>
</tr>
#end

#foreach($c in ${categoryCache.categorys})
	${c.id}</br>
#end
</table>