#springBind("userInfo.*")
#validationError()
<form action="/userInfoModify.htm" method="POST">
	<table>
		<tr>
			<td>Old Password：</td>			
			<td>#springFormInput("userInfo.oldPassword" 'size="45" maxlength="45"')<font color="red">*</font></td>
		</tr>
		<tr>
			<td>New Password：</td>			
			<td>#springFormInput("userInfo.newPassword" 'size="45" maxlength="45"')<font color="red">*</font></td>
		</tr>
		<tr>
			<td>Confirm New：</td>			
			<td>#springFormInput("userInfo.confirmPassword" 'size="45" maxlength="45"')<font color="red">*</font></td>
		</tr>
		<!--
			<tr>
				<td>Name：</td>
				<td><input type = "text" name="name" /></td>
			</tr>
			<tr>
				<td>Email：</td>
				<td><input type = "text" name="email" /></td>
			</tr>
			<tr>
				<td>旺旺Id：</td>
				<td><input type = "text" name="aliTalkId" /></td>
			</tr>
		-->
		<tr>
			<td><input type="submit" value="submit"/></td>
		</tr>
	</table>
</form>
