<html><head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="$SERVER_NAME/images/favicon.ico">
<link rel="icon" type="image/gif" href="$SERVER_NAME/images/animated_favicon1.gif">
<title>Gold Room</title>
<link href="$SERVER_NAME/css/styles.css" rel="stylesheet" type="text/css">

</head><body>
	#parse("header.vm")
	$screen_content
	#parse("footer.vm")
</body></html>