<li class="title">书籍管理
	<ul>
		<li><a href="/mygoldroom/myBooksListAction.action?state=all&loginId=gangyi.xiaogy" #if($menuIndex==1)class="selected"#end>我的书籍</a></li>
    	<li><a href="/mygoldroom/reservationListAction.action?state=all&loginId=gangyi.xiaogy" #if($menuIndex==2)class="selected"#end>我预约的</a></li>
    	<li><a href="/mygoldroom/lendingListAction.action?loginId=gangyi.xiaogy" #if($menuIndex==3)class="selected"#end>我借阅的</a></li>
		<li><a href="/mygoldroom/uploadPaperBookAction.action" #if($menuIndex==4)class="selected"#end>分享纸质书</a></li>
		<li><a href="/mygoldroom/uploadEBookAction.action" #if($menuIndex==5)class="selected"#end>分享电子书</a></li>
	</ul>
</li>

<li class="title">个人信息
	<ul>
		<li><a href="#">修改密码</a></li>
    	<li><a href="#">修改信息</a></li>
	</ul>
</li>
