#parse("templates/common/header.vm")

<link rel=stylesheet type=text/css href="$base/static/css/mygoldroom.css" />

<script type='text/javascript' src='$base/dwr/interface/ReservationService.js'></script>
<script type='text/javascript' src='$base/dwr/interface/LendService.js'></script>
<script type='text/javascript' src='$base/static/js/popup.js'></script>
<script type='text/javascript' src='$base/static/js/showMemberInfo.js'></script>
<style>
	#contactInfo{
			position:absolute;
			width:200px;
			height:200px;
			background:red;
			color:#fff;
			left:50%;top:50%;margin-top:-100px;margin-left:-100px;
	}
</style>

		<!-- content start here-->
		<DIV id=content>
            <h1>我的黄金屋</h1>
       		<div id="leftMenu" class="leftMenu">
				#set($menuIndex=1)
				#parse("templates/mygoldroom/menu.vm")
       		</div>
        	<div id="right" class="rightContent">
				<div>
				<a href="$base/mygoldroom/myBooksList.action?state=all" #if($state=="all") class="seledtedState" #else class="state" #end>
							全部 #if($state=="all")($!{bookItemResult.totalCount})#end</a>
				<a href="$base/mygoldroom/myBooksList.action?state=idle" #if($state=="idle") class="seledtedState" #else class="state" #end>
							空闲 #if($state=="idle")($!{bookItemResult.totalCount})#end</a>
				<a href="$base/mygoldroom/myBooksList.action?state=reservated" #if($state=="reservated") class="seledtedState" #else class="state" #end>
							被预约 #if($state=="reservated")($!{bookItemResult.totalCount})#end</a>
				<a href="$base/mygoldroom/myBooksList.action?state=lended" #if($state=="lended") class="seledtedState" #else class="state" #end>
							被借阅 #if($state=="lended")($!{bookItemResult.totalCount})#end</a>
				<a href="$base/mygoldroom/myBooksList.action?state=unavailable" #if($state=="unavailable") class="seledtedState" #else class="state" #end>
							已下架 #if($state=="unavailable")($!{bookItemResult.totalCount})#end</a>
				<a href="$base/mygoldroom/myBooksList.action?state=ebook" #if($state=="ebook") class="seledtedState" #else class="state" #end>
							电子书 #if($state=="ebook")($!{bookItemResult.totalCount})#end</a>
				</div>
				#set($bookList = $bookItemResult.itemList)
				#if($bookItemResult && $bookItemResult.totalCount > 0)
                	#foreach($item in $bookList)
    					<div class="bookItem">
    						<div class="bookImage">
								<a href="$base/detail/bookDetail.action?bookInfoId=$!item.bookInfo.id" target="_blank">
									<img src="$!{imageServer}/$!item.bookInfo.imgUrl"/>
								</a>
    						</div>
    						<div class="bookInfo">
        						<h2 class="title"> <a href="$base/detail/bookDetail.action?bookInfoId=$!item.bookInfo.id" target="_blank"> $!item.bookInfo.name </a></h2>

                                <span>作者: </span> $!item.bookInfo.author <br/>
        						<span>出版社: </span> $!item.bookInfo.publisher <br/>
        						<span>ISBN: </span> $!item.bookInfo.isbn <br/>
    						</div>
							<div class="column3">

								#if($!item.state == "idle")
									<span>状态: </span><span style="color:green">空闲 </span><br/>
									<a style="color:green" onclick="javascript:offShelve($!item.id, '$!item.bookInfo.name')">下架</a>
								#elseif ($!item.state=="lended")
									<span>状态: </span><span style="color:orange">被借阅 </span><br/>
									<a href="javascript:showLending($!item.id,'$!item.bookInfo.name');">查看借阅信息</a>
								#elseif ($!item.state=="reservated")
									<span>状态: </span><span style="color:blue">被预约 </span><br/>
									<a href="javascript:showReservation($!item.id,'$!item.bookInfo.name');">查看预约信息</a>
								#elseif ($!item.state=="unavailable")
									<span>状态: </span><span style="color:red">已下架 </span><br/>
									<a style="color:green" onclick="javascript:onShelve($!item.id, '$!item.bookInfo.name')">上架</a><br/>
								#elseif ($!item.state=="ebook")
									<span>电子书</span><br/>
								#end
								<br/>
                            </div>
    					</div>
    					<div style="clear:both"></div>
					#end
				#else
					<h2 style="text-align:center; margin:50px">暂无符合记录</h2>
				#end
            </div>
		</DIV>
		<!-- content end here -->
		<div style="clear:both"></div>
		#set($totalCount =$bookItemResult.totalCount)
		#if($totalCount && $totalCount > 0)
			#parse("templates/common/pageTurn.vm")
		#end
<script>
	function buildReservationOrLendingInfo(bookName, r){
		var str="<table style='margin:auto'>";
		str += "<tr><td style='text-align:right'>" + "书籍：" + "</td><td>" + bookName + "</td></tr>";
    	str += "<tr><td style='text-align:right'>" + "姓名：" + "</td><td>" + getIntranetSearchHtml(r.subscriber.name) + "</td></tr>";

    	if(r.subscriber.workId) {
    		str += "<tr><td style='text-align:right'>" + "工号：" + "</td><td>" + getIntranetSearchHtml(r.subscriber.workId) + "</td></tr>";
    	}

		if(r.subscriber.ext) {
    		str += "<tr><td style='text-align:right'>" + "分机：" + "</td><td>" + r.subscriber.ext+ "</td></tr>";
    	}

    	if(r.subscriber.location) {
    		str += "<tr><td style='text-align:right'>" + "位置：" + "</td><td>" + r.subscriber.location + "</td></tr>";
    	}

    	if(r.subscriber.aliTalkId) {
    		str += "<tr><td style='text-align:right'>" + "贸易通：" + "</td><td>" + r.subscriber.aliTalkId + "&nbsp;&nbsp;" + getAliTalkHtml(r.subscriber.aliTalkId) + "</td></tr>";
    	}

		if(r.subscriber.email) {
    		str += "<tr><td style='text-align:right'>" + "Email：" + "</td><td>"+ getEmailHtml(r.subscriber.email) + "</td></tr>";
    	}


		str += "<tr><td style='text-align:right'>" + "开始时间：" + "</td><td>" + r.lendTime.format() + "</td></tr>";
		str += "<tr><td style='text-align:right'>" + "结束时间：" + "</td><td>" + r.returnTime.format() + "</td></tr>";

		str += "</table>";
		return str;
	}

	var showReservation = function(bookItemId, bookName)
	{
		this.reservationManage = function (reservationId, type){
			jQuery.ajax({
            	type: "POST",
               	url: "$base/mygoldroom/lendingManage.action",
               	data: "type=" + type + "&reservationId=" + reservationId,
               	success: function(msg){
    		   	 	if(msg != "success"){
    			   	 	alert("操作失败");
    			 	} else {
						location.reload();
					}
               	}
			});
		}
		this.callback = function (data) {
    		if (data != null && typeof data == 'object'){
    			var reservationList = data.reservationList;
    			var r = reservationList[0];
    			var str = buildReservationOrLendingInfo(bookName, r);
				str += "<br/><div style='text-align:center'><input type='button' id='agreeLendBtn' value='同意借阅'/>";
				str += "&nbsp;&nbsp;<input type='button' id='rejectLendBtn' value='拒绝借阅'/></div>";
    			var popUp = new PopUp("reservation", "预约信息", 350, 250, true);
    			popUp.show(str);
				jQuery("#agreeLendBtn").click(
					function(){
						reservationManage(r.id, "agreeLend");
					}
				);
				jQuery("#rejectLendBtn").click(
					function(){
						reservationManage(r.id, "rejectLend");
					}
				);
    		}
		}
		ReservationService.listReservationByBookItemId(bookItemId, this.callback);
	}

	var showLending = function(bookItemId, bookName)
	{

		this.lendManage = function (lendId, type){
			jQuery.ajax({
            	type: "POST",
               	url: "$base/mygoldroom/lendingManage.action",
               	data: "type=" + type + "&lendId=" + lendId,
               	success: function(msg){
					if(msg != "success"){
    			   	 	alert("确认归还失败");
    			 	} else {
						location.reload();
					}
               	}
			});
		}

		this.callback = function (data) {
    		if (data != null && typeof data == 'object'){
    			var lendingList = data.lendingList;
    			var r = lendingList[0];
    			var str = buildReservationOrLendingInfo(bookName, r);
				str += "<br/><div style='text-align:center'><input type='button' id='returnBookBtn' value='确认归还'/>";
				str += "&nbsp;&nbsp;<input type='button' id='cancelReturnBookBtn' value='取消'/></div>";
    			var popUp = new PopUp("reservation", "借阅信息", 350, 250, true);
    			popUp.show(str);

				jQuery("#returnBookBtn").click(
					function(){
						lendManage(r.id, "returnBook");
					}
				);
				jQuery("#cancelReturnBookBtn").click(
					function(){
						popUp.hide();
					}
				);
    		}
		}
		LendService.listLendingByBookItemId(bookItemId, this.callback);
	}

	function onShelve (bookItemId, bookName){
		jQuery.ajax({
        	type: "POST",
           	url: "$base/mygoldroom/bookManage.action",
           	data: "type=onShelve&bookItemId=" + bookItemId,
           	success: function(msg){
		   		var reloadFunc = function () {location.reload();};
		   	 	if(msg == "success"){
			   	 	var popUp = new PopUp("onShelve", "书籍上架成功", 250, 150, false, reloadFunc);
				 	popUp.show("你的书籍已经上架成功");
				} else {
					var popUp = new PopUp("onShelve", "书籍上架失败", 250, 150, false, reloadFunc);
			 		popUp.show("你的书籍上架失败");
			 	}
           	}
		});
	}

	function offShelve (bookItemId, bookName){
		jQuery.ajax({
			type: "POST",
			url: "$base/mygoldroom/bookManage.action",
           	data: "type=offShelve&bookItemId=" + bookItemId,
           	success: function(msg){
		   		var reloadFunc = function () {location.reload();};
            	if(msg == "success"){
		   	 		var popUp = new PopUp("onShelve", "书籍下架成功", 250, 150, false, reloadFunc);
			 		popUp.show("你的书籍已经下架成功");
			 	} else {
					var popUp = new PopUp("onShelve", "书籍下架失败", 250, 150, false, reloadFunc);
			 		popUp.show("你的书籍下架失败");
			 	}
           	}
		});
	}

	#if($!anchorBookItemId && ($state=="reservated" || $state=="lended"))
	jQuery(document).ready(function(){
		#if($state=="reservated")
			showReservation($!anchorBookItem.id,'$!anchorBookItem.bookInfo.name');
		#elseif($state=="lended")
			showLending($!anchorBookItem.id,'$!anchorBookItem.bookInfo.name');
		#end
	});
	#end
</script>

#parse("templates/common/footer.vm")

