#parse("templates/common/header.vm")

<link rel=stylesheet type=text/css href="$base/static/css/mygoldroom.css" />

<script type='text/javascript' src='$base/dwr/interface/ReservationService.js'></script>
<script type='text/javascript' src='$base/dwr/interface/LendService.js'></script>

<style>
	#contactInfo{
			position:absolute;
			width:200px;
			height:200px;
			background:red;
			color:#fff;
			left:50%;top:50%;margin-top:-100px;margin-left:-100px;
	}
</style>
<script>
	var showReservation = function(data)
	{
		//data.totalCount
		//data.reservationList
		if (data != null && typeof data == 'object'){
			var reservationList = data.reservationList;
			for(var i = 0; i <  reservationList.length; i++) {
				var r = reservationList[i];
				var str = "Id:" + r.id+ "\n";
    			str += "subcriber:" + r.subscriber.name + "\n";
    			str += "lendTime:" + r.lendTime + "\n";
    			str += "returnTime:" + r.returnTime + "\n";
    			str += "state:" + r.state + "\n";
    			alert(str);
			}
		}
	}
	var showLending = function(data)
	{
		if (data != null && typeof data == 'object'){
			var lendingList = data.lendingList;
			for(var i = 0; i <  lendingList.length; i++) {
				var r = lendingList[i];
				var str = "Id:" + r.id+ "\n";
    			str += "subcriber:" + r.subscriber.name + "\n";
    			str += "lendTime:" + r.lendTime + "\n";
    			str += "returnTime:" + r.returnTime + "\n";
    			str += "state:" + r.state + "\n";
    			alert(str);
				var contactInfo = jQuery("#contactInfo").show();
				contactInfo.html(str);
				contactInfo.css("margin-top", jQuery(document).scrollTop() - contactInfo.css("height") / 2);
			}
		}
	}
</script>


		<!-- content start here-->
		<DIV id=content>
            <h1>我的黄金屋</h1>
       		<div id="leftMenu" class="leftMenu">
				#set($menuIndex=1)
				#parse("templates/mygoldroom/menu.vm")
       		</div>
        	<div id="right" class="rightContent">
				<div>
				<a href="$base/mygoldroom/myBooksList.action?state=all&loginId=gangyi.xiaogy" #if($state=="all") class="seledtedState" #else class="state" #end>
							全部 #if($state=="all")($!{bookItemResult.totalCount})#end</a>
				<a href="$base/mygoldroom/myBooksList.action?state=idle&loginId=gangyi.xiaogy" #if($state=="idle") class="seledtedState" #else class="state" #end>
							空闲 #if($state=="idle")($!{bookItemResult.totalCount})#end</a>
				<a href="$base/mygoldroom/myBooksList.action?state=reservated&loginId=gangyi.xiaogy" #if($state=="reservated") class="seledtedState" #else class="state" #end>
							被预约 #if($state=="reservated")($!{bookItemResult.totalCount})#end</a>
				<a href="$base/mygoldroom/myBooksList.action?state=lended&loginId=gangyi.xiaogy" #if($state=="lended") class="seledtedState" #else class="state" #end>
							被借阅 #if($state=="lended")($!{bookItemResult.totalCount})#end</a>
				<a href="$base/mygoldroom/myBooksList.action?state=unavailable&loginId=gangyi.xiaogy" #if($state=="unavailable") class="seledtedState" #else class="state" #end>
							已下架 #if($state=="unavailable")($!{bookItemResult.totalCount})#end</a>
				</div>
				#set($bookList = $bookItemResult.itemList)
				#if($bookItemResult && $bookItemResult.totalCount > 0)
                	#foreach($item in $bookList)
    					<div class="bookItem">
    						<div class="bookImage">
    							##<img src="$item.bookInfo.imgUrl"/>
								<a href="/detail/bookDetail.action?bookInfoId=$!item.bookInfo.id" target="_blank">
									<img src="http://img3.douban.com/mpic/s4478937.jpg" />
								</a>
    						</div>
    						<div class="bookInfo">
        						<h2 class="title"> <a href="/detail/bookDetail.action?bookInfoId=$!item.bookInfo.id" target="_blank"> $!item.bookInfo.name </a></h2>

                                <span>作者: </span> $!item.bookInfo.author <br/>
        						<span>出版社: </span> $!item.bookInfo.publisher <br/>
        						<span>ISBN: </span> $!item.bookInfo.isbn <br/>
    						</div>
							<div class="column3">

								#if($!item.state == "idle")
									<span>状态: </span><span style="color:green">空闲 </span><br/>
									<a href="#">下架</a>
								#elseif ($!item.state=="lended")
									<span>状态: </span><span style="color:orange">被借阅 </span><br/>
									<a href="javascript:LendService.listLendingByBookItemId($!item.id, showLending);">查看借阅信息</a>
								#elseif ($!item.state=="reservated")
									<span>状态: </span><span style="color:blue">被预约 </span><br/>
									<a href="javascript:ReservationService.listReservationByBookItemId($!item.id, showReservation);">查看预约信息</a>
								#elseif ($!item.state=="unavailable")
									<span>状态: </span><span style="color:red">已下架 </span><br/>
									<a href="#">上架</a><br/>
									<a href="#">删除</a>
								#end
								<br/>
                            </div>
    					</div>
    					<div style="clear:both"></div>
					#end
				#else
					<h2 style="text-align:center; margin:50px">暂无符合记录</h2>
				#end
            </div>
		</DIV>
		<!-- content end here -->
		<div style="clear:both"></div>
		#set($totalCount =$bookItemResult.totalCount)
		#if($totalCount && $totalCount > 0)
			#parse("templates/common/pageTurn.vm")
		#end
		<div id="contactInfo" style="display:none">
			info info
		</div>

#parse("templates/common/footer.vm")

