#parse("templates/common/header.vm")

<link rel=stylesheet type=text/css href="$base/static/css/mygoldroom.css" />

<script type='text/javascript' src='$base/dwr/interface/MemberService.js'></script>
<script type='text/javascript' src='$base/static/js/popup.js'></script>
<script type='text/javascript' src='$base/static/js/showMemberInfo.js'></script>

<style>
	#contactInfo{
			position:absolute;
			width:200px;
			height:200px;
			background:red;
			color:#fff;
			left:50%;
			margin-top:-100px;
			margin-left:-100px;
	}
</style>
<script type='text/javascript'>



</script>

		<!-- content start here-->
		<DIV id=content>
            <h1>我的黄金屋</h1>
       		<div id="leftMenu" class="leftMenu">
				#set($menuIndex=7)
				#parse("templates/mygoldroom/menu.vm")
       		</div>
        	<div id="right" class="rightContent">
				#if($totalCount > 0)
                	#foreach($lendingLog in $lendingLogList)
    					#set($bookInfo = $lendingLog.bookInfo)

    					<div class="bookItem">
    						<div class="bookImage">
								<a href="$base/detail/bookDetail.action?bookInfoId=$!bookInfo.id" target="_blank">
									<img src="$!{imageServer}$!bookInfo.imgUrl"/>
								</a>
    						</div>
    						<div class="bookInfo">
        						<h2 class="title"> <a href="$base/detail/bookDetail.action?bookInfoId=$!bookInfo.id" target="_blank"> $!bookInfo.name </a></h2>
                                <span>作者: </span> $!bookInfo.author  <br/>
        						<span>出版社: </span> $!bookInfo.publisher  <br/>
        						<span>ISBN: </span> $!bookInfo.isbn  <br/>
    						</div>
							<div class="column3">
								借阅时间：$date.format("yyyy-MM-dd", $lendingLog.lendTime) ~ $date.format("yyyy-MM-dd", $lendingLog.returnTime)
                            </div>
    					</div>
    					<div style="clear:both"></div>
					#end
				#else
					 <h2 style="text-align:center; margin:50px">暂无符合记录</h2>
				#end
            </div>
		</DIV>

		<!-- content end here -->
		<div style="clear:both"></div>
		#if($totalCount && $totalCount > 0)
			#parse("templates/common/pageTurn.vm")
		#end
<script>

</script>
#parse("templates/common/footer.vm")