#parse("templates/common/header.vm")

<link rel=stylesheet type=text/css href="$base/static/css/mygoldroom.css" />

<script type='text/javascript' src='$base/dwr/interface/MemberService.js'></script>

<style>
	#contactInfo{
			position:absolute;
			width:200px;
			height:200px;
			background:red;
			color:#fff;
			left:50%;
			margin-top:-100px;
			margin-left:-100px;
	}
</style>
<script type='text/javascript'>
    var showContact = function(data)
    {
     	if (data != null && typeof data == 'object'){
			var str = "name:" + data.name + "\n";
			str += "workId:" + data.workId + "\n";
			str += "loginId:" + data.loginId + "\n";
			str += "email:" + data.email + "\n";
			str += "aliTalkId:" + data.aliTalkId + "\n";
			str += "location:" + data.location+ "\n";
			str += "ext:" + data.ext+ "\n";
			str += "score:" + data.score+ "\n";
			alert(str);
			var contactInfo = jQuery("#contactInfo").show();
			contactInfo.html(str);
			contactInfo.css("top", jQuery(document).scrollTop() + 300);
		}
    }

</script>

		<!-- content start here-->
		<DIV id=content>
            <h1>我的黄金屋</h1>
       		<div id="leftMenu" class="leftMenu">
				#set($menuIndex=2)
				#parse("templates/mygoldroom/menu.vm")
       		</div>
        	<div id="right" class="rightContent">
				<div>
				<a href="$base/mygoldroom/reservationList.action?state=all&loginId=gangyi.xiaogy" #if($state=="all") class="seledtedState" #else class="state" #end>
							全部 #if($state=="all")($!{reservationResult.totalCount})#end</a>
				<a href="$base/mygoldroom/reservationList.action?state=toBeConfirm&loginId=gangyi.xiaogy" #if($state=="toBeConfirm") class="seledtedState" #else class="state" #end>
							等待确认 #if($state=="toBeConfirm")($!{reservationResult.totalCount})#end</a>
				<a href="$base/mygoldroom/reservationList.action?state=reject&loginId=gangyi.xiaogy" #if($state=="reject") class="seledtedState" #else class="state" #end>
							被拒绝 #if($state=="reject")($!{reservationResult.totalCount})#end</a>
				</div>
            	#set($reservationList = $reservationResult.reservationList)
				#if($reservationResult && $reservationResult.totalCount > 0)
                	#foreach($reservation in $reservationList)
    					#set($item = $reservation.bookItem)

    					<div class="bookItem">
    						<div class="bookImage">
    							##<img src="$item.bookInfo.imgUrl"/>
    							<img src="http://img3.douban.com/mpic/s4478937.jpg" />
    						</div>
    						<div class="bookInfo">
        						<h2 class="title"> $!item.bookInfo.name </h2>
                                <span>作者: </span> $!item.bookInfo.author  <br/>
        						<span>出版社: </span> $!item.bookInfo.publisher  <br/>
        						<span>ISBN: </span> $!item.bookInfo.isbn  <br/>
    						</div>
							<div class="column3">
								 <input type="hidden" id="bookItem${item.id}" value="$!item.owner.loginId"/>

								 <span>拥有者: </span> <a href="javascript:MemberService.findMemberByLoginId(document.getElementById('bookItem$!{item.id}').value, showContact);">$!{item.owner.name}</a>  <br/>
								 <span>开始时间: </span> $reservation.lendTime  <br/>
								 <span>结束时间: </span> $reservation.returnTime <br/>
								 #if($reservation.state == "reject")
									<span>状态: </span> <span style="color:red">被拒绝 </span><br/>
									<a href="#">重新预约</a>
								 #elseif($reservation.state == "toBeConfirm")
									<span>状态: </span> <span style="color:blue">等待确认 </span> <br/>
								 #end
                            </div>
    					</div>
    					<div style="clear:both"></div>
					#end
				#else
					 <h2 style="text-align:center; margin:50px">暂无符合记录</h2>
				#end
            </div>
		</DIV>

		<!-- content end here -->
		<div style="clear:both"></div>
		#set($totalCount =$reservationResult.totalCount)
		#if($totalCount && $totalCount > 0)
			#parse("templates/common/pageTurn.vm")
		#end
	<div id="contactInfo" style="display:none">
		info info
	</div>
#parse("templates/common/footer.vm")
