#parse("templates/common/header.vm")

<script type='text/javascript' src='$base/dwr/interface/BookInfoService.js'></script>

<link rel=stylesheet type=text/css href="$base/static/css/mygoldroom.css" />
<style>
	.uploadDiv {text-align:center; margin:10px 20px 20px 20px; font-size:14px}
	.uploadBookInfo table {text-align:left; margin:auto; font-size:14px; width:600px}
	.uploadBookInfo td {border:1px dashed #D4D4D4; padding-left:8px; padding-right:8px;  font-size:14px;}
	.uploadBookInfo .first {text-align:right;  width:80px; color:#006600;}
</style>
<script>
	var dealWithBookInfo = function(data)
	{
		if (data != null && typeof data == 'object'){
			jQuery("#name").html(data.name);
			jQuery("#author").html(data.author);
			jQuery("#publisher").html(data.publisher);
			jQuery("#publishTime").html(data.publishTime);
			jQuery("#edition").html(data.edition);
			jQuery("#pages").html(data.pages);
			jQuery("#translator").html(data.translator);
			jQuery("#description").html(data.description);
			jQuery("#imgUrl").attr("src", "$!{imageServer}" + data.imgUrl);

			jQuery("#tags").html(data.tags);

			jQuery("#isbn").val(data.isbn);

			jQuery("#uploadBookInfo").show();
			jQuery("#imgUrl").show();
		} else{
			alert ("error");
		}
	}
	function getBookInfo(isbnObj) {
		var isbn = isbnObj.value;
		if(isbn.length == 0) {
			isbnObj.value = "";
		}
		BookInfoService.getBookInfoFromDbAndNetWork(isbn, dealWithBookInfo);
		isbnObj.value = isbn;
	}
</script>

		<!-- content start here-->
		<DIV id=content>
            <h1>我的黄金屋</h1>
       		<div id="leftMenu" class="leftMenu">
				#set($menuIndex=4)
				#parse("templates/mygoldroom/menu.vm")
       		</div>
        	<div id="right" class="rightContent">
				<div class="uploadDiv">
    				<h2>分享纸质书</h2>
					#if(!$bookInfo)
    				<span>请输入ISBN：</span><input name="first_isbn" id="first_isbn" value="$!isbn"/><input type="button" value="查询" onclick="javascript:getBookInfo(document.getElementById('first_isbn'))"/>
					#end
					<div class="uploadBookInfo" id="uploadBookInfo" #if(!$bookInfo)style="display:none" #end>
						<img id="imgUrl" src="$!{imageServer}/$bookInfo.imgUrl" style="max-height:240px; max-width:160px; #if(!$bookInfo)display:none;#end"/>
    					<table >
    						<tr>
    							<td class="first">名称：</td>
    							<td id="name">$!bookInfo.name</td>
    						</tr>
    						<tr>
    							<td class="first">作者：</td>
    							<td id="author">$!bookInfo.author</td>
    						</tr>

    						<tr>
    							<td class="first">出版社：</td>
    							<td id="publisher">$!bookInfo.publisher</td>
    						</tr>
    						<tr>
    							<td class="first">出版时间：</td>
    							<td id="publishTime">$!bookInfo.publishTime</td>
    						</tr>
    						<tr>
    							<td class="first">版本：</td>
    							<td id="edition">$!bookInfo.edition</td>
    						</tr>
    						<tr>
    							<td class="first">页数：</td>
    							<td id="pages">$!bookInfo.page</td>
    						</tr>
    						<tr>
    							<td class="first">译者：</td>
    							<td id="translator">$!bookInfo.translator</td>
    						</tr>
							#if($!isbn)
							<tr>
    							<td class="first">ISBN：</td>
    							<td id="author">$!bookInfo.isbn</td>
    						</tr>
							#end
    						<tr>
    							<td class="first">简介：</td>
    							<td id="description">$!bookInfo.description</td>
    						</tr>
							<tr>
    							<td class="first">Tags</td>
    							<td id="tags">$!bookInfo.tags</td>
    						</tr>

							<form name="uploadBookForm" action="$base/mygoldroom/uploadPaperBook.action" method="POST">
    							<tr>
        							<td class="first">备注</td>
        							<td id="tags"><input type="text" name="remark" id="remark" size="70"/></td>
        						</tr>
								<tr>
									<td colspan="2" align="center">
										<input type="hidden" name="isbn" id="isbn"/>
										<input type="hidden" name="submitFlag" value="true"/>
										<input type="submit" value="分享" />
									</td>
								</tr>
							</form>
                        </table>
					</div>
				</div>
            </div>
		</DIV>
		<!-- content end here -->
		<div style="clear:both"></div>
#parse("templates/common/footer.vm")
