#parse("templates/common/header.vm")

<script type='text/javascript' src='$base/dwr/interface/BookInfoService.js'></script>

<link rel=stylesheet type=text/css href="$base/static/css/mygoldroom.css" />
<style>
	.uploadDiv {text-align:center; margin:10px 20px 0px 20px; font-size:14px}
</style>
<script>
	var dealWithBookInfo = function(data)
	{
		if (data != null && typeof data == 'object'){
			document.getElementById("name").innerHTML = data.name;
			document.getElementById("author").innerHTML = data.author;
			document.getElementById("publisher").innerHTML = data.publisher;
			document.getElementById("publishTime").innerHTML = data.publishTime;
			document.getElementById("edition").innerHTML = data.edition;
			document.getElementById("pages").innerHTML = data.pages;
			document.getElementById("translator").innerHTML = data.translator;
			document.getElementById("description").innerHTML = data.description;
			document.getElementById("imgUrl").innerHTML = data.imgUrl;

			document.getElementById("isbn").value = data.isbn;
			document.getElementById("bookInfoId").value = data.id;
			document.getElementById("uploadBookInfo").style.display = "";

		} else{
			alert ("error");
		}
	}
	function getBookInfo(isbnObj) {
		var isbn = isbnObj.value;
		isbn = isbn.trim();
		if(isbn.length == 0) {
			isbnObj.value = "";
		}
		BookInfoService.getBookInfoFromDbAndNetWork(isbn, dealWithBookInfo);
		isbnObj.value = isbn;
	}
</script>

		<!-- content start here-->
		<DIV id=content>
            <h1>我的黄金屋</h1>
       		<div id="leftMenu" class="leftMenu">
				#set($menuIndex=4)
				#parse("templates/mygoldroom/menu.vm")
       		</div>
        	<div id="right" class="rightContent">
				<div class="uploadDiv">
    				<h2>分享纸质书</h2>
    				<span>请输入ISBN：</span><input name="first_isbn" id="first_isbn"/><input type="button" value="确定" onclick="javascript:getBookInfo(document.getElementById('first_isbn'))"/>

					<div class="uploadBookInfo" id="uploadBookInfo" style="display:none">
    					<table>
    						<tr>
    							<td class="first">名称</td>
    							<td id="name"></td>
    						</tr>
    						<tr>
    							<td class="first">作者</td>
    							<td id="author"></td>
    						</tr>
    						<tr>
    							<td class="first">出版社</td>
    							<td id="publisher"></td>
    						</tr>
    						<tr>
    							<td class="first">出版时间</td>
    							<td id="publishTime"></td>
    						</tr>
    						<tr>
    							<td class="first">版本</td>
    							<td id="edition"></td>
    						</tr>
    						<tr>
    							<td class="first">页数</td>
    							<td id="pages"></td>
    						</tr>
    						<tr>
    							<td class="first">译者</td>
    							<td id="translator"></td>
    						</tr>
    						<tr>
    							<td class="first">简介</td>
    							<td id="description"></td>
    						</tr>
    						<tr>
    							<td class="first">imgURL</td>
    							<td id="imgUrl"></td>
    						</tr>
                        </table>

    					<form name="uploadBookForm" action="$base/mygoldroom/uploadPaperBook.action">
							<input type="hidden" name="bookInfoId" id="bookInfoId" />
    						<input type="hidden" name="isbn" id="isbn"/>
							loginId:<input type="text" name="loginId" id="loginId"/> <br/>
							remark:<input type="text" name="remark" id="remark"/> <br/>
    						tags:<input type="text" name="tags" id="tags"/> <br/>
    						<input type="submit" value="分享" />
    					</form>
					</div>
				</div>
            </div>
		</DIV>
		<!-- content end here -->
		<div style="clear:both"></div>
#parse("templates/common/footer.vm")
