<table style="width:80%;margin:auto;" cellspacing="0" cellpadding="3" border="0">
    <tr>
		<td align="center">
			申请帐号失败，已经存在该登录名的用户<br/>
			<a href="$SERVER_NAME/user/applyUser.htm">重新申请</a>
		</td>
	</tr>
</table>