<script src="$SERVER_NAME/js/md5-min.js"></script>
<script>
	function isCorrectInput(str) {		
		for(var i = 0; i < str.length; i++) {
			if((str.charAt(i) >= '0' && str.charAt(i) <= '9') || (str.charAt(i) >= 'a' && str.charAt(i) <= 'z') || (str.charAt(i) >= 'A' && str.charAt(i) <= 'Z') || str.charAt(i) == '_') {
				continue;
			}
			else {
				return false;
			}
		}
		return true;
	}
	function checkPassword(){

		var oldPassword = document.getElementById("oldPassword").value.replace(/(^\s*)|(\s*$)/g, "");
		var newPassword = document.getElementById("newPassword").value.replace(/(^\s*)|(\s*$)/g, "");
		var confirmPassword = document.getElementById("confirmPassword").value.replace(/(^\s*)|(\s*$)/g, "");
		if(oldPassword.length == 0 ){
			alert("请输入原密码");
			document.getElementById("oldPassword").focus();
			return false;
		}
		if(newPassword.length == 0 ){
			alert("请输入新密码");
			document.getElementById("newPassword").focus();
			return false;
		}
		if(confirmPassword.length == 0 ){
			alert("请输入重复输入新密码");
			document.getElementById("confirmPassword").focus();
			return false;
		}
		if(!isCorrectInput(oldPassword)) {
			alert("密码只能由英文字母、数字或下划线组成");
			document.getElementById("oldPassword").focus();
			return false;
		}
		if(!isCorrectInput(newPassword)) {
			alert("密码只能由英文字母、数字或下划线组成");
			document.getElementById("newPassword").focus();
			return false;
		}
		if(!isCorrectInput(confirmPassword)) {
			alert("密码只能由英文字母、数字或下划线组成");
			document.getElementById("confirmPassword").focus();
			return false;
		}
		if(newPassword != confirmPassword){
			alert("两次输入的密码不一致")
			return false;
		}
		document.getElementById("oldPassword").value = hex_md5(document.getElementById("oldPassword").value);
		document.getElementById("newPassword").value = hex_md5(document.getElementById("newPassword").value);
		document.getElementById("confirmPassword").value = hex_md5(document.getElementById("confirmPassword").value);
		changePasswordForm.submit();		
	}
</script>


<table style="width: 80%;margin:auto;" cellspacing="0" cellpadding="3" border="0"><tr><td align="center">

<form action="/user/userInfoModify.htm" method="POST" name="changePasswordForm">
	<table>
		<tr>
			<td align="right" valign="top">用户名：</td>
			<td>
				abc
			</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.oldPassword")
			<td align="right">原密码：</td>
			<td>
				#springFormPasswordInput("userInfoCommand.oldPassword" 'size="30" maxlength="45"')<font color="red" size="2">*</font>
				#validationError()
			</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.newPassword")
			<td align="right">新密码：</td>
			<td>
				#springFormPasswordInput("userInfoCommand.newPassword" 'size="30" maxlength="45"')
				#validationError()
			</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.confirmPassword")
			<td align="right">重复输入新密码：</td>
			<td>
				#springFormPasswordInput("userInfoCommand.confirmPassword" 'size="30" maxlength="45"')
				#validationError()
			</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.name")
			<td align="right" valign="top">真实姓名：</td>
			<td>
				#springFormInput("userInfoCommand.name" 'size="30" maxlength="45"')<font color="red" size="2">*</font>
				#validationError()
			</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.email")
			<td align="right">邮箱地址：</td>
			<td>#springFormInput("userInfoCommand.email" 'size="30" maxlength="45"')<font color="red" size="2">*</font>
			#validationError()
			</td>
		</tr>
		<tr>
				#springBind("userInfoCommand.aliTalkId")
			<td align="right">贸易通ID：</td>
			<td>#springFormInput("userInfoCommand.aliTalkId" 'size="30" maxlength="45"')<font color="red" size="2">*</font>
				#validationError()</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.workId")
			<td align="right">工号：</td>
			<td>#springFormInput("userInfoCommand.workId" 'size="30" maxlength="45"')<font color="red" size="2">*</font>
			#validationError()</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.location")
			<td align="right">座位号：</td>
			<td>#springFormInput("userInfoCommand.location" 'size="30" maxlength="45"')<font color="red" size="2">*</font>
			#validationError()</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.ext")
			<td align="right">分机：</td>
			<td>#springFormInput("userInfoCommand.ext" 'size="30" maxlength="45"')<font color="red" size="2">*</font>
			#validationError()</td>
		</tr>
		<tr>
			<td align="center" colspan="2">
				<table onclick="checkPassword();"  border="0" cellpadding="0" cellspacing="0" style="cursor:pointer">	
					<tbody><tr>
                    <td><img src="$SERVER_NAME/images/button_dark_left.gif" border="0"></td>
                    <td class="button_dark">
						确　定
                    </td>
                    <td><img src="$SERVER_NAME/images/button_dark_right.gif" border="0"></td>		
                    </tr>
				</tbody></table>
			</td>
		</tr>
	</table>
</form>
</td></tr>
</table>