<script src="$SERVER_NAME/js/md5-min.js"></script>
<script src="$SERVER_NAME/js/validation.js"></script>
<script>
// 字符串两边去空
function init() {
	document.userInfoModifyForm.name.value = document.userInfoModifyForm.name.value.trim();
	document.userInfoModifyForm.email.value = document.userInfoModifyForm.email.value.trim();
	document.userInfoModifyForm.aliTalkId.value = document.userInfoModifyForm.aliTalkId.value.trim();
	document.userInfoModifyForm.workId.value = document.userInfoModifyForm.workId.value.trim();
	document.userInfoModifyForm.location.value = document.userInfoModifyForm.location.value.trim();
	document.userInfoModifyForm.ext.value = document.userInfoModifyForm.ext.value.trim();
}

function check(){
	init();
	if (document.userInfoModifyForm.oldPassword.value.length ==0) {
		alert("密码不能为空");
		document.userInfoModifyForm.oldPassword.focus();
		return (false);
	}
	if (!document.userInfoModifyForm.oldPassword.value.isLegalPassword()) {
		alert("密码不能含有汉字或空格");
		document.userInfoModifyForm.oldPassword.value = "";
		document.userInfoModifyForm.oldPassword.focus();
		return (false);
	}
	if (document.userInfoModifyForm.newPassword.value != "") {
		if (document.userInfoModifyForm.newPassword.value.length ==0){
			alert("密码不能为空");
			document.userInfoModifyForm.newPassword.focus();
			return (false);
		}
		if (!document.userInfoModifyForm.newPassword.value.isLegalPassword()) {
			alert("密码不能含有汉字或空格");
			document.userInfoModifyForm.newPassword.value = "";
			document.userInfoModifyForm.newPassword.focus();
			return (false);
		}
	}
	if (document.userInfoModifyForm.confirmPassword.value != "") {
		if (document.userInfoModifyForm.confirmPassword.value.length ==0){
			alert("密码不能为空");
			document.userInfoModifyForm.confirmPassword.focus();
			return (false);
		}
		if (!document.userInfoModifyForm.confirmPassword.value.isLegalPassword()) {
			alert("密码不能含有汉字或空格");
			document.userInfoModifyForm.confirmPassword.value = "";
			document.userInfoModifyForm.confirmPassword.focus();
			return (false);
		}
	}
	if (document.userInfoModifyForm.newPassword.value != document.userInfoModifyForm.confirmPassword.value){
        alert("两次填写的密码不一致，请重新填写！");
        document.userInfoModifyForm.newPassword.focus();
        document.userInfoModifyForm.newPassword.select();
        return (false);
	}
	document.userInfoModifyForm.submit();
}
</script>


<table style="width: 80%;margin:auto;" cellspacing="0" cellpadding="3" border="0"><tr><td align="center">

<form action="/user/userInfoModify.htm" method="POST" name="userInfoModifyForm">
	<table>
		<tr>
			<td></td>
			<td>
				<font color="red" size="2">若填写了一字段则会修改该字段</font>								
			</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.oldPassword")
			<td align="right">原密码：</td>
			<td>
				#springFormPasswordInput("userInfoCommand.oldPassword" 'size="30" maxlength="45"')<font color="red" size="2">*</font>
				#validationError()
			</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.newPassword")
			<td align="right">新密码：</td>
			<td>
				#springFormPasswordInput("userInfoCommand.newPassword" 'size="30" maxlength="45"')
				#validationError()
			</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.confirmPassword")
			<td align="right">重复输入新密码：</td>
			<td>
				#springFormPasswordInput("userInfoCommand.confirmPassword" 'size="30" maxlength="45"')
				#validationError()
			</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.name")
			<td align="right" valign="top">真实姓名：</td>
			<td>
				#springFormInput("userInfoCommand.name" 'size="30" maxlength="45"')
				#validationError()
			</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.email")
			<td align="right">邮箱地址：</td>
			<td>#springFormInput("userInfoCommand.email" 'size="30" maxlength="45"')
			#validationError()
			</td>
		</tr>
		<tr>
				#springBind("userInfoCommand.aliTalkId")
			<td align="right">贸易通ID：</td>
			<td>#springFormInput("userInfoCommand.aliTalkId" 'size="30" maxlength="45"')
				#validationError()</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.workId")
			<td align="right">工号：</td>
			<td>#springFormInput("userInfoCommand.workId" 'size="30" maxlength="45"')
			#validationError()</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.location")
			<td align="right">座位号：</td>
			<td>#springFormInput("userInfoCommand.location" 'size="30" maxlength="45"')
			#validationError()</td>
		</tr>
		<tr>
			#springBind("userInfoCommand.ext")
			<td align="right">分机：</td>
			<td>#springFormInput("userInfoCommand.ext" 'size="30" maxlength="45"')
			#validationError()</td>
		</tr>
		<tr>
			<td align="center" colspan="2">
				<table onclick="check();"  border="0" cellpadding="0" cellspacing="0" style="cursor:pointer">
					<tbody><tr>
                    <td><img src="$SERVER_NAME/images/button_dark_left.gif" border="0"></td>
                    <td class="button_dark">
						修改信息
                    </td>
                    <td><img src="$SERVER_NAME/images/button_dark_right.gif" border="0"></td>		
                    </tr>
				</tbody></table>					
			</td>			
		</tr>
	</table>
</form>
</td></tr>
</table>