<link rel="stylesheet" type="text/css" href="$SERVER_NAME/css/calendar.css" media="screen" />
<script type="text/javascript" src="$SERVER_NAME/js/mootools.js"></script>
<script type="text/javascript" src="$SERVER_NAME/js/calendar.rc4.js"></script>


<table style="width: 80%;margin:auto;" cellspacing="3" cellpadding="0" border="0">
  <tbody>
    <tr>
      <td colspan="2" align="center"><h1>$bookSearchInfo.bookName</h1></td>
    </tr>
    <tr>
      <td width="300" align="right" valign="top">
		#if($bookSearchInfo.bookImgUrl && !$bookSearchInfo.getBookImgUrl().equals(""))
			<img id="bookCoverImage" class="detailBookImage" src="$UPLOAD_IMAGE_PATH/$bookSearchInfo.bookImgUrl"/>
		#else
			<img id="bookCoverImage" class="detailBookImage" src="$SERVER_NAME/images/noPhoto.png"/>
		#end
	  </td>
      <td width="600"><table width="80%"">
          <tr>
            <td align="right" width="25%" valign="top"><strong>作者</strong>:&nbsp;&nbsp;</td>
            <td align="left">$bookSearchInfo.bookAuthor</td>
          </tr>
          <tr>
            <td align="right"><strong>ISBN</strong>:&nbsp;&nbsp;</td>
            <td align="left">$bookSearchInfo.bookIsbn</td>
          </tr>
		   <tr>
            <td align="right"><strong>类目</strong>:&nbsp;&nbsp;</td>
            <td align="left">$!categoryCache.getFullName($!{bookSearchInfo.bookCategoryId},">>")</td>
          </tr>
          <tr>
            <td align="right"><strong>出版社</strong>:&nbsp;&nbsp;</td>
            <td align="left">$bookSearchInfo.bookPublisher</td>
          </tr>
          <tr>
            <td align="right"><strong>出版时间</strong>:&nbsp;&nbsp;</td>
            <td align="left">$dateTool.format("yyyy-MM",$bookSearchInfo.bookPublishTime)</td>
          </tr>
          <tr>
            <td align="right"><strong>版次</strong>:&nbsp;&nbsp;</td>
            <td align="left">$bookSearchInfo.bookEdition</td>
          </tr>
          <tr>
            <td align="right" valign="top"><strong>描述</strong>:&nbsp;&nbsp;</td>
            <td align="left"><p>$bookSearchInfo.bookDescription
            </p></td>
          </tr>
		  <tr>
            <td colspan="2">
            	<div style="position:relative;left:80px">
            	<form action="/user/findIsbn.htm" method="POST">              
					<input  type="hidden" name="isbn" value="$bookSearchInfo.bookIsbn"/>
					<input type="submit" value="我也有这本书，我要上架"/>
				</form>
				</div>
				#if(!$bookItemList || $bookItemList.size()==0)
				<div style="cursor: pointer;position:relative; left:80px; top:0px">
				<table onClick="window.open('$SERVER_NAME/searchBookDetail.htm?id=${bookSearchInfo.bookInfoId}&showOwners=true','_self')"  border="0" cellpadding="0" cellspacing="0">	
					<tbody><tr>
                    <td><img src="$SERVER_NAME/images/button_dark_left.gif" border="0"></td>
                    <td class="button_dark">
						查看拥有该图书的人
                    </td>
                    <td><img src="$SERVER_NAME/images/button_dark_right.gif" border="0"></td>		
                    </tr>
				</tbody></table>
				</div>
				#end
			</td>
		  </tr>
        </table></td>
    </tr>
  </tbody>
</table>

<br/>
#if($bookItemList && $bookItemList.size()==0)
暂无
#elseif($bookItemList.size()>0)
<table style="width: 80%;margin:auto;" cellspacing="0" cellpadding="3" border="1" bordercolor="#cce4a3" >
  <tbody>
    <tr>
      <td colspan="4" align="center"><h1>拥有该书的人</h1></td>
    </tr>
    <tr align="center">
      <td class="lines" width="15%" valign="top" bgcolor="#ACD36B">姓名</td>
      <td class="lines" width="15%" valign="top" bgcolor="#ACD36B">上架时间</td>
      <td class="lines" width="15%" valign="top" bgcolor="#ACD36B">旺旺</td>
      <td class="lines" width="15%" valign="top" bgcolor="#ACD36B">&nbsp;</td>
    </tr>
	#foreach($bookItem in $bookItemList)
		#foreach($owner in $ownerInfoList)
			#if($owner.getLoginId().equals($bookItem.getLoginId()))
            <tr align="center">
        		<td>$owner.name
        		</td>
              <td>$dateTool.format("yyyy-MM-dd",$bookItem.addTime)</td>
              <td>
        		<A href=" http://web.im.alisoft.com/msg.aw?v=2&amp;uid=$owner.aliTalkId&amp;site=cnalichn&amp;s=1" target=_blank><IMG border=0 alt=点击这里给我发消息 src=" http://web.im.alisoft.com/online.aw?v=2&amp;uid=$owner.aliTalkId&amp;site=cnalichn&amp;s=1"></A>
        	  </td>
              <td align="center">
				
				#if($bookItem.getState().equals("idle"))
                    <a id="reserveLink${bookItem.id}" onclick="document.getElementById('reserveForm${bookItem.id}').style.display=''; this.style.display='none';new Calendar({ lendTime$bookItem.id: 'Y-m-d' }, { direction: 1, tweak: {x: 6, y: -20} }); new Calendar({ returnTime$bookItem.id: 'Y-m-d' }, { direction: 1, tweak: {x: 6, y: -20} });" style="cursor:pointer;">预约</a>
					<form action="/user/reserveBook.htm" name="reserveForm" method="POST" style="display:none;" id="reserveForm$bookItem.id">
                       
                        <label for="lendTime$bookItem.id">借阅时间</label><input type="text" name="lendTime" id="lendTime$bookItem.id" value="" readonly="true"/>
						<br/>
                        <label for="returnTime$bookItem.id">归还时间</label><input type="text" name="returnTime" id="returnTime$bookItem.id" value="" readonly="true"/>
						<br/>
						<input type="submit" value="确定"/>
						
						<input type="hidden" name="bookItemId" id="bookItemId" value="$bookItem.id"/>
					</form>	
					
				#else
						不能预约
				#end
              </td>
            </tr>
			#end
		#end
	#end
  </tbody>
</table>
#end
</br>