<html>
<body>
##当借阅者已经归还书籍, 拥有者确认邮件

尊敬的${info.borrower.name}:<br/>
    您之前借阅的《${info.bookInfo.name}》，拥有者 ${info.owner.name} 已经在系统中确认归还了。
    
    <br/>
    <a href="http://athena.hz.ali.com:8080/home.htm">黄金屋[Gold Room]</a>
</body>
</html>