.imageBorder {
	-moz-border-radius:3px 3px 3px 3px;
	-moz-box-shadow:1px 1px 1px 1px #999999;
	float:left;
	padding: 2px;
	margin-top: 3px;
	height:160px;
	width:120px;
	margin-left: -3px;
}
.book-search-info{
	margin-top: 5px;
}
.book-search-info LI {
	BORDER-BOTTOM: #ddd 1px dashed; PADDING-BOTTOM: 4px; height:19px; WIDTH: 305px; MARGIN-BOTTOM: 4px;overflow:hidden;
}
.book-search-list{
	margin-right: 10px;
	float:left;
	width:446px;
	height:172px;
	border: 1px solid rgb(228, 228, 228);
	padding: 0px 8px;
	margin-bottom: 5px;
}

/* 旺旺表情用到的样式 */
.ww-light{overflow:hidden;}
.ww-block{display:block;margin-top:3px;}
.ww-inline{display:inline-block;vertical-align:text-bottom;}
.ww-light a{background:url(/static/images/wangwang.gif) no-repeat 0 0;text-decoration:none!important;width:20px;height:20px;zoom:1;}
.ww-large a{width:67px;}
.ww-large a:hover{color:#566D5E;}
a.ww-offline{background-position:0 -20px;}
a.ww-mobile{background-position:0 -40px;}
.ww-small .ww-online{background-position:-80px 0;}
.ww-small .ww-offline{background-position:-80px -20px;}
.ww-small .ww-mobile{background-position:-80px -40px;}
.ww-static .ww-online{background-position:-110px 0;}
.ww-static .ww-offline{background-position:-110px -20px;}
.ww-static .ww-mobile{background-position:-110px -40px;}
.ww-light a span{display:block; padding-left: 23px; padding-top: 3px;}
.nodisplay{ display:none}
