<script src="$SERVER_NAME/js/md5-min.js"></script>
<table style="width: 80%;margin:auto;" cellspacing="0" cellpadding="3" border="0"><tr><td align="center">
<form action="/user/applyUser.htm" method="POST" name="applyForm">
	<table width="80%" cellspacing="0">
		<tr>
			#springBind("applyUser.loginId")
			<td align="right">登录名：</td>
			<td>#springFormInput("applyUser.loginId" 'size="30" maxlength="45"')
				<font color="red">* 登录名用于登录系统的时候输入</font>
			#validationError()
			</td>
		</tr>
		<tr>
			#springBind("applyUser.name")
			<td align="right">真实姓名：</td>
			<td>#springFormInput("applyUser.name" 'size="30" maxlength="45"')
				<font color="red">* 请输入您的真实姓名</font>
			#validationError()
			</td>
		</tr>
		<tr>
			#springBind("applyUser.password")
			<td align="right">密码：</td>
			<td><input type = "password" name="password" id="password" size="31"/><font color="red">*</font>
			#validationError()
			</td>
		</tr>
		<tr >
			#springBind("applyUser.confirmPassword")
            <td align="right">重复输入密码：</td>
			<td><input type="password" name="confirmPassword" id="confirm" size="31"/><font color="red">*</font>
			#validationError()</td>
        </tr>
		<tr>
			#springBind("applyUser.email")
			<td align="right">邮箱地址：</td>
			<td>#springFormInput("applyUser.email" 'size="30" maxlength="45"')<font color="red">*</font>
			#validationError()
			</td>
		</tr>
		<tr>
				#springBind("applyUser.aliTalkId")
			<td align="right">贸易通ID：</td>
			<td>#springFormInput("applyUser.aliTalkId" 'size="30" maxlength="45"')<font color="red">*</font>
				#validationError()</td>
		</tr>
		<tr>
			#springBind("applyUser.workId")
			<td align="right">工号：</td>
			<td>#springFormInput("applyUser.workId" 'size="30" maxlength="45"')<font color="red">*</font>
			#validationError()</td>
		</tr>
		<tr><td></td><td  align="left">
			<table onClick="javascript:check();" style="cursor: pointer;" border="0" cellpadding="0" cellspacing="0">	
				<tbody><tr>
					<td><img src="$SERVER_NAME/images/button_dark_left.gif" border="0"></td>
							<td class="button_dark">提交申请	</td>
					<td><img src="$SERVER_NAME/images/button_dark_right.gif" border="0"></td>		
				</tr>
			</tbody></table>
			</td>
		</tr>
	</table>
</form>
</td></tr>
</table>
<script LANGUAGE="javascript">
function check()
{
	/**if (document.applyForm.name.value == ""){
		alert("请填写您的用户名！");
		document.form1.name.focus();
		return (false);
	}
	
    if (document.applyForm.password.value!=document.applyForm.confirm.value ){
        alert("两次填写的密码不一致，请重新填写！");
        document.applyForm.password.focus();
        document.applyForm.password.select();
        return (false);
	}

	var filter=/^\s*([A-Za-z0-9_-]+(\.\w+)*@[.A-Za-z0-9_-]+(\w+\.)+\w{2,3})\s*$/;
	if (!filter.test(document.applyForm.email.value)) {
		alert("邮件地址不正确,请重新填写！");
		document.applyForm.email.focus();
		document.applyForm.email.select();
		return (false);
	}
	if (document.applyForm.aliTalkId.value == ""){
		alert("请填写您的贸易通ID！");
		document.form1.aliTalkId.focus();
		return (false);
	}
	if (document.applyForm.workId.value == ""){
		alert("请填写您的工号！");
		document.form1.workId.focus();
		return (false);
	}
	document.applyForm.password.value = hex_md5(document.applyForm.password.value);
	document.applyForm.confirm.value = hex_md5(document.applyForm.confirm.value);*/
	
	document.applyForm.submit();
}
</script>
