<form action="/user/applyUser.htm" method="POST" name="applyForm">
	<table width="80%" cellspacing="0">
		<tr>
			#springBind("member.loginId")
			<td>登录名：</td>
			<td>#springFormInput("member.loginId" 'size="45" maxlength="45"')
				<font color="red">* 登录名用于登录系统的时候输入</font>
			#validationError()
			</td>
		</tr>
		<tr>
			#springBind("member.name")
			<td>真实姓名：</td>
			<td>#springFormInput("member.name" 'size="45" maxlength="45"')
				<font color="red">* 请输入您的真实姓名</font>
			#validationError()
			</td>
		</tr>
		<tr>
			#springBind("member.password")
			<td>密码：</td>
			<td><input type = "password" name="password" /><font color="red">*</font></td>
			#validationError()
		</tr>
		<tr >
            <td>重复输入密码:</td>
			<td><input type="password" name="confirm"/><font color="red">*</font></td>
        </tr>
		<tr>
			#springBind("member.email")
			<td>邮箱地址：</td>
			<td><input type = "text" name="email" /></td>
			#validationError()
		</tr>
		<tr>
			<td>贸易通ID：</td>
			<td><input type = "text" name="aliTalkId" /></td>
		</tr>
		<tr>
			<td><input type="submit" value="submit" onclick="return check()"/></td>
		</tr>
	</table>
</form>

<script LANGUAGE="javascript">
function check()
{
	if (document.applyForm.name.value == ""){
		alert("请填写您的用户名！");
		document.form1.name.focus();
		return (false);
	}
	
    if (document.applyForm.password.value!=document.applyForm.confirm.value ){
        alert("两次填写的密码不一致，请重新填写！");
        document.applyForm.password.focus();
        document.applyForm.password.select();
        return (false);
	}

	var filter=/^\s*([A-Za-z0-9_-]+(\.\w+)*@(\w+\.)+\w{2,3})\s*$/;
	if (!filter.test(document.applyForm.email.value)) {
		alert("邮件地址不正确,请重新填写！");
		document.applyForm.email.focus();
		document.applyForm.email.select();
		return (false);
	}
}
</script>
