    <table id="mytable" width="100%" cellspacing="0">
			<tr>
    			<td scope="col">Name</td> 
    			<td scope="col">LoginID </td> 
    			<td scope="col">AliTalkID </td> 
    			<td scope="col">Email</td> 
    			<td scope="col">Role </td> 
				<td scope="col">Operator</td> 
            </tr>
			#foreach($member in $members)
				<tr>
        			<td>$member.name</td> 
        			<td>$member.loginId</td> 
        			<td>$member.aliTalkId</td> 
        			<td>$member.email</td>
        			<td>$member.role</td>
					<td>
                        <button onClick="javascript:approve($!{member.id});"/>PASS</button>
						<button onClick="javascript:tbd($!{member.id});"/>TBD</button>
					</td>
                </tr>
			#end
	</table>
<form action="/user/approveUser.htm" name="approveForm" method="POST">
    <input type="hidden" name="id" value="" />
	<input type="hidden" name="status" value=""/>
</form>

	
<script>
<!--
function approve(id){
	document.approveForm.id.value=id;
	document.approveForm.status.value="approve";
	document.approveForm.submit();
}

function tbd(id){
	document.approveForm.id.value=id;
	document.approveForm.status.value="tbd";
	document.approveForm.submit();
}
-->
</script>
