<table style="width: 80%;margin:auto;" cellspacing="0" cellpadding="3" border="0">
  <tbody>
    <tr>
      <td align="center"><h1>书籍上架</h1></td>
    </tr>
    <tr>
      <td align="center"><form action="/user/findIsbn.htm" method="POST">
          <table>
            <tr>
              <td>请填写要上架的书的ISBN:</td>
              <td><input  type="text" name="isbn"/>
              </td>
            </tr>
            <tr>
              <td align="right"><br/>
                <input type="button" value="取　消" onclick="window.location.href='$SERVER_NAME/home.htm'"/>
              </td>
              <td align="left"><br/>
                <input type="submit" value="下一步"/>
              </td>
            </tr>
          </table>
        </form></td>
    </tr>
  </tbody>
</table>
