<script>
	function uploadFile(){
		fileUpload.submit();
	}
	
	function photoChange( haveImage){
		var bookCoverImage =  document.getElementById("bookCoverImage").src;
		var imgUlrValue = document.getElementById("imgUrl").value;
		var uploadImageForm = document.getElementById("uploadImageForm");
		if(haveImage > 0){
			#if($imgSrc)
				document.getElementById("bookCoverImage").src="$UPLOAD_IMAGE_PATH/$!imgSrc";
			#else
				document.getElementById("bookCoverImage").src="$SERVER_NAME/images/noPhoto.png";
			#end
			document.getElementById("imgUrl").value = "$!imgSrc";
			uploadImageForm.style.display="";	
		}else {
			document.getElementById("bookCoverImage").src ="$SERVER_NAME/images/noPhoto.png";
			document.getElementById("imgUrl").value = "";
			uploadImageForm.style.display="none";
		}
	}
	
	function checkAndUpload(){
		var filepath=document.getElementById("file").value
		filepath = filepath.substring(filepath.lastIndexOf('.')+1,filepath.length);
		
		if(filepath != 'jpg' && filepath != 'gif'){
			alert("只能上传JPG或GIF格式的图片");
		}else{
			uploadFile();
		}
	}
</script>
<input type="radio" name="haveImage" value="0" onclick="javascript:photoChange(0)" #if(!$imgSrc)checked#end>无图&nbsp;
<input type="radio" name="haveImage" value="1" onclick="javascript:photoChange(1)" #if($imgSrc)checked#end>有图&nbsp;
<br/>
<div style="height:150;width:100;vertical-align:middle">
#if($imgSrc && !$imgSrc.equals(""))
	<img id="bookCoverImage" class="bookImage" src="$UPLOAD_IMAGE_PATH/$imgSrc"/>
#else
	<img id="bookCoverImage" class="bookImage" src="$SERVER_NAME/images/noPhoto.png"/>
#end
</div>
<div id="uploadImageForm">
<form name="fileUpload" id="fileUpload" method="post" action="/user/fileUpload.htm" enctype="multipart/form-data">
	<input id="isbn" type="hidden" name="isbn" value="$!isbn"/>
	<input id="file" type="file" name="file" onchange="javascript:checkAndUpload()" value="$!imgSrc"/>
</form>
</div>