<table width="100%" cellspacing="0" cellpadding="3" border="0">
    <tbody>
        <tr>
            <td align="center">
                <h1>书籍上架</h1>
            </td>
        </tr>
        <tr>
            <td align="center">
                <h2>该书籍信息不存在，请填写书籍信息</h2>
                <form action="/user/fillBookInfo.htm" method="POST">
                    <table >
                        <tr >
                            <td align="right">ISBN：&nbsp;&nbsp; </td>
                            <td align="left">$!{isbn}
                                <input type="hidden" name="isbn" value="$!{isbn}"/>
                            </td>
                        </tr>
                        <tr >
                            #springBind("bookInfo.name")
                            <td align="right">书本名称：&nbsp;&nbsp; </td>
                            <td >#springFormInput("bookInfo.name" 'size="45" maxlength="45"')
                                #validationError()
                            </td>
                        </tr>
                        <tr>
                            #springBind("bookInfo.author")
                            <td align="right">作者：&nbsp;&nbsp;</td>
                            <td >#springFormInput("bookInfo.author" 'size="45" maxlength="45"')
                                #validationError()
                            </td>
                        </tr>
                        <tr>
                            #springBind("bookInfo.categoryId")
                            <td align="right">选择类目：&nbsp;&nbsp;</td>
                            <td >#parse("widget/selectCategory.vm")
                                #validationError()
                            </td>
                        </tr>
                        <tr>
                            #springBind("bookInfo.publisher")
                            <td align="right">出版社：&nbsp;&nbsp; </td>
                            <td >#springFormInput("bookInfo.publisher" 'size="45" maxlength="45"')
                                #validationError()
                            </td>
                        </tr>
                        <tr>
                            #springBind("bookInfo.publishTime")
                            <td align="right">出版时间：&nbsp;&nbsp; </td>
                            <td >#springFormInput("bookInfo.publishTime" 'size="45" maxlength="45"')
                                #validationError()
                            </td>
                        </tr>
                        <tr >
                            #springBind("bookInfo.edition")
                            <td align="right">版本：&nbsp;&nbsp; </td>
                            <td >#springFormInput("bookInfo.edition" 'size="45" maxlength="45"')
                                #validationError()
                            </td>
                        </tr>
                        <tr >
                            #springBind("bookInfo.imgUrl")
                            <td align="right">图片链接：&nbsp;&nbsp; </td>
                            <td >#springFormInput("bookInfo.imgUrl" 'size="45" maxlength="200"')
                                #validationError()
                            </td>
                        </tr>
                        <tr >
                            #springBind("bookInfo.description")
                            <td align="right">书本描述：&nbsp;&nbsp; </td>
                            <td >#springFormTextarea("bookInfo.description" 'rows="20" cols="100"')
                                #validationError()
                            </td>
                        </tr>
                        <tr >
							 <td colspan="2" align="center">
                                <input type="submit" value="提交"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </tbody>
</table>
