<h1>我的书籍</h1>
<script type="text/javascript" src="$SERVER_NAME/js/datePicker.js"></script>

#parse("widget/pageNav.vm")
<table style="width: 80%;margin:auto;" cellspacing="3" cellpadding="0" border="0">
	<tbody>
		#if(!$state && $bookItemList && $bookItemList.size()==0)
			<tr height="50" valign="middle"><td align="center">
				暂无书籍，<a href="$SERVER_NAME/user/beforeShelve.htm">图书上架</a>。<a href="$SERVER_NAME/faq/index.htm#onShelves">如何上架书籍？</a>	
			</td></tr>
		#else
		<tr height="15px" valign="middle"><td>&nbsp;&nbsp;&nbsp;&nbsp;
		<select id="stateFilter" onchange="javascript:changeFilter();">
			<option value="">全部</option>
			<option value="idle" #if($state &&$state.equals("idle"))selected="true"#end>闲置</option>
			<option value="reservated" #if($state &&$state.equals("reservated"))selected="true"#end>被预约</option>
			<option value="lended" #if($state &&$state.equals("lended"))selected="true"#end>被借阅</option>
			<option value="unavailable" #if($state &&$state.equals("unavailable"))selected="true"#end>已下架</option>
		</select>
		</td></tr>
		#end

		#foreach($bookItem in $bookItemList)
		<tr height="170" valign="middle">
			<td class="lines" align="left" valign="middle">
				<div onmouseover="javascript:this.style.background='#F7F7F7'" onmouseout="javascript:this.style.background=''" style="width=100%;">
					<table>
					<tr  valign="middle">
						<td width="150px" align="center">
							<a href="$SERVER_NAME/user/bookItemDetail.htm?id=$!{bookItem.id}" title="" target="_blank">
								#if($bookItem.bookInfo.imgUrl && !$bookItem.bookInfo.getImgUrl().equals(""))
									<img id="bookCoverImage" class="bookImage" src="$UPLOAD_IMAGE_PATH/$bookItem.bookInfo.ImgUrl"/>
								#else
									<img id="bookCoverImage" class="bookImage" src="$SERVER_NAME/images/noPhoto.png"/>
								#end
							</a>
						</td>
						<td width="250px" valign="top" style="font-size:16px; color:#89A945;">
							<h2>
							<a href="$SERVER_NAME/user/bookItemDetail.htm?id=$!{bookItem.id}" title="" target="_blank">
								$!{bookItem.bookInfo.name}
							</a></h2>
							作　　者：$bookItem.bookInfo.author  <br/>
							ＩＳＢＮ：$bookItem.bookInfo.isbn  <br/>
							版　　本：$bookItem.bookInfo.edition	 <br/>
							上架日期：$dateTool.format("yyyy-MM-dd",$bookItem.addTime)  <br/>
							
						</td>
						<td width="300px" valign="top" style="font-size:16px; color:#89A945;">
							当前状态：
							#if($bookItem.state== "idle")
								闲置
							#elseif($bookItem.state== "reservated")
								被预约
							#elseif($bookItem.state== "lended")
								被借阅
							#elseif($bookItem.state== "unavailable")
								已下架
							#end
							#if($bookItem.state != "unavailable" && $bookItem.state != "lended")
							<table onClick="offShelves('$bookItem.id','$bookItem.bookInfo.name')" style="cursor: pointer;" border="0" cellpadding="0" cellspacing="0">	
                            	<tbody><tr>
                            		<td><img src="$SERVER_NAME/images/button_warn_left.gif" border="0"></td>
                            		<td class="button_dark">
                            		书籍下架
                            		</td>
                            		<td><img src="$SERVER_NAME/images/button_dark_right.gif" border="0"></td>		
                            	</tr>
                            </tbody></table>
							#elseif($bookItem.state == "unavailable")
							<table onClick="reputOnShelves('$bookItem.id','$bookItem.bookInfo.name')" style="cursor: pointer;" border="0" cellpadding="0" cellspacing="0">	
                            	<tbody><tr>
                            		<td><img src="$SERVER_NAME/images/button_dark_left.gif" border="0"></td>
                            		<td class="button_dark">
                            		重新上架
                            		</td>
                            		<td><img src="$SERVER_NAME/images/button_dark_right.gif" border="0"></td>		
                            	</tr>
                            </tbody></table>
							#end
							
                        </td>
						<td valign="top" align="left" width="270px" style="font-size:16px; color:#89A945;">
							
							
							#if($bookItem.state== "lended")
								#set($memberInfo = $!memberInfoCache.getMemberInfo($!{bookItem.lending.subscriber}))
								借阅者：$memberInfo.name
								<A href=" http://web.im.alisoft.com/msg.aw?v=2&amp;uid=${memberInfo.aliTalkId}&amp;site=cnalichn&amp;s=1" target=_blank><IMG border=0 alt=点击这里给我发消息 src=" http://web.im.alisoft.com/online.aw?v=2&amp;uid=${memberInfo.aliTalkId}&amp;site=cnalichn&amp;s=1"></A>
                                <a href="mailto:${memberInfo.email}"><img src="$SERVER_NAME/images/mail.gif"/></a>
							#elseif($bookItem.state == "reservated")
								#set($memberInfo = $!memberInfoCache.getMemberInfo($!{bookItem.reservation.subscriber}))
								预约者：$!memberInfo.name
								<A href=" http://web.im.alisoft.com/msg.aw?v=2&amp;uid=${memberInfo.aliTalkId}&amp;site=cnalichn&amp;s=1" target=_blank><IMG border=0 alt=点击这里给我发消息 src=" http://web.im.alisoft.com/online.aw?v=2&amp;uid=${memberInfo.aliTalkId}&amp;site=cnalichn&amp;s=1"></A>
								<a href="mailto:${memberInfo.email}"><img src="$SERVER_NAME/images/mail.gif"/></a>
								<br/>
								预约时间：$!dateTool.format("yyyy-MM-dd",$!{bookItem.reservation.lendTime}) 至 $!dateTool.format("yyyy-MM-dd",$!{bookItem.reservation.returnTime})
							#end
							
							#if($bookItem.state== "lended")
								<table onClick="javascript:returnBook($!{bookItem.lending.id});" style="cursor: pointer;" border="0" cellpadding="0" cellspacing="0">	
                            	<tbody><tr>
                            		<td><img src="$SERVER_NAME/images/button_dark_left.gif" border="0"></td>
                            		<td class="button_dark">
                            		确认归还
                            		</td>
                            		<td><img src="$SERVER_NAME/images/button_dark_right.gif" border="0"></td>		
                            	</tr>
                            	</tbody></table>
							#elseif($bookItem.state == "reservated")
								<table><tr><td>
    								<table onClick="javascript:confirmLend($!{bookItem.reservation.id});" style="cursor: pointer;" border="0" cellpadding="0" cellspacing="0">	
                                	<tbody><tr>
                                		<td><img src="$SERVER_NAME/images/button_dark_left.gif" border="0"></td>
                                		<td class="button_dark">
                                		确认借阅
                                		</td>
                                		<td><img src="$SERVER_NAME/images/button_dark_right.gif" border="0"></td>		
                                	</tr>
                                	</tbody></table>
								</td><td>
    								<table onClick="javascript:rejectLending($!{bookItem.reservation.id});" style="cursor: pointer;" border="0" cellpadding="0" cellspacing="0">	
                                	<tbody><tr>
                                		<td><img src="$SERVER_NAME/images/button_warn_left.gif" border="0"></td>
                                		<td class="button_dark">
                                		拒绝借阅
                                		</td>
                                		<td><img src="$SERVER_NAME/images/button_dark_right.gif" border="0"></td>		
                                	</tr>
                                	</tbody></table>
								</td>
								</tr></table>
							#end
							
						</td>
    				</tr>
					</table>		
				</div>
				
			</td>
			
		</tr>
		#end
</tbody>
</table>

#parse("widget/pageNav.vm")
<form action="/user/confirmLend.htm" name="confirmLendForm" method="POST">
	<input type="hidden" name="reservationId" />
	##<input type="hidden" name="returnTime"/>
</form>

<form action="/user/returnBook.htm" name="returnBookForm" method="POST">
	<input type="hidden" name="lendingId" />
</form>
<form action="/user/offShelves.htm" name="offShelvesForm" method="POST">
	<input type="hidden" name="bookItemId">
</form>

<form action="/user/reputOnShelves.htm" name="reputOnShelvesForm" method="POST">
	<input type="hidden" name="bookItemId">
</form>

<form action="/user/rejectLending.htm" name="rejectLendingForm" method="POST">
	<input type="hidden" name="reservationId">
</form>

<script>
<!--
function confirmLend(reservationId){
	document.confirmLendForm.reservationId.value=reservationId;
	//document.confirmLendForm.returnTime.value=document.getElementById("returnTime_"+reservationId).value;
	document.confirmLendForm.submit();
}

function rejectLending(reservationId){
	document.rejectLendingForm.reservationId.value=reservationId;
	//document.confirmLendForm.returnTime.value=document.getElementById("returnTime_"+reservationId).value;
	document.rejectLendingForm.submit();
}

function returnBook(lendingId){
	document.returnBookForm.lendingId.value=lendingId;
	document.returnBookForm.submit();
}

function offShelves(bookItemId, bookName){
	if(confirm("确定将\""+bookName +"\" 下架?")){
		document.offShelvesForm.bookItemId.value=bookItemId;
		document.offShelvesForm.submit();
	}else {
		return false;
	}
}
function reputOnShelves(bookItemId, bookName){
	if(confirm("确定将 \""+bookName +"\" 重新上架?")){
		document.reputOnShelvesForm.bookItemId.value=bookItemId;
		document.reputOnShelvesForm.submit();
	}else {
		return false;
	}
}

function changeFilter(){	
	window.location.href="$SERVER_NAME/user/myBooks.htm?state=" + document.getElementById("stateFilter").value;;
}
-->
</script>