#parse("widget/pageNav.vm")
<table style="width: 80%;margin:auto;" cellspacing="3" cellpadding="0" border="0">
	<tbody>
		#foreach($bookItem in $bookItemList)
		<tr height="170" valign="middle">
			<td class="lines" align="left" valign="middle">

				<div onmouseover="javascript:this.style.background='#F7F7F7'" onmouseout="javascript:this.style.background=''" style="width=100%;">
					<table>
					<tr  valign="middle">
						<td width="150px" align="center">
							<a href="$SERVER_NAME/user/bookDetail.htm?id=$!{bookItem.bookInfo.id}" title="" target="_blank">
								#if($bookItem.bookInfo.imgUrl && !$bookItem.bookInfo.getImgUrl().equals(""))
									<img id="bookCoverImage" class="bookImage" src="$UPLOAD_IMAGE_PATH/$bookItem.bookInfo.ImgUrl"/>
								#else
									<img id="bookCoverImage" class="bookImage" src="$SERVER_NAME/images/noPhoto.png"/>
								#end
							</a>
						</td>
						<td width="300px" valign="top" style="font-size:16px; color:#89A945;">
							<h2>
							<a href="$SERVER_NAME/user/bookDetail.htm?id=$!{bookItem.bookInfo.id}" title="" target="_blank">
								$!{bookItem.bookInfo.name}
							</a></h2>
							作　　者：$bookItem.bookInfo.author  <br/>
							ＩＳＢＮ：$bookItem.bookInfo.isbn  <br/>
							版　　本：$bookItem.bookInfo.edition	 <br/>
							出版时间：$dateTool.format("yyyy-MM-dd",$bookItem.bookInfo.publishTime)  <br/>
							
						</td>
						<td width="200px" valign="top" style="font-size:16px; color:#89A945;">

                        </td>
						<td valign="top" align="left" width="320px" style="font-size:16px; color:#89A945;">
							#if($bookItem.state == "unavailable")
								该书籍已经下架，预约无效
							#else
								预约状态：
								#if($bookItem.reservation.getState().equals("toBeConfirm"))
									等待批准<br/>
									预约时间：&nbsp;$!dateTool.format("yyyy-MM-dd",$!{bookItem.reservation.lendTime})至$!dateTool.format("yyyy-MM-dd",$!{bookItem.reservation.returnTime})
								#else
									不批准
								#end
							#end
						</td>
    				</tr>
					</table>		
				</div>
			</td>
		</tr>
		#end
</tbody>
</table>

#parse("widget/pageNav.vm")