<script type="text/javascript" src="$SERVER_NAME/js/mootools.js"></script>
<script type="text/javascript" src="$SERVER_NAME/js/calendar.rc4.js"></script>
<link rel="stylesheet" type="text/css" href="$SERVER_NAME/css/calendar.css" media="screen" />

<h1> 我的预约</h1>
#parse("widget/pageNav.vm")
<table style="width: 80%;margin:auto;" cellspacing="3" cellpadding="0" border="0">
	<tbody>
		#if($bookItemList && $bookItemList.size()==0)
			<tr height="50" valign="middle"><td align="center">
			暂无预约书籍，<a href="$SERVER_NAME/allBook.htm">寻找自己需要的书籍</a>。<a href="http://127.0.0.1:8080/faq/index.htm#lend">如何预约书籍？</a>			
			</td></tr>
		#end
		#foreach($bookItem in $bookItemList)
		<tr height="170" valign="middle">
			<td class="lines" align="left" valign="middle">

				<div onmouseover="javascript:this.style.background='#F7F7F7'" onmouseout="javascript:this.style.background=''" style="width=100%;">
					<table>
					<tr  valign="middle">
						<td width="150px" align="center">
							<a href="$SERVER_NAME/user/bookItemDetail.htm?id=$!{bookItem.id}" title="" target="_blank">
								#if($bookItem.bookInfo.imgUrl && !$bookItem.bookInfo.getImgUrl().equals(""))
									<img id="bookCoverImage" class="bookImage" src="$UPLOAD_IMAGE_PATH/$bookItem.bookInfo.ImgUrl"/>
								#else
									<img id="bookCoverImage" class="bookImage" src="$SERVER_NAME/images/noPhoto.png"/>
								#end
							</a>
						</td>
						<td width="300px" valign="top" style="font-size:16px; color:#89A945;">
							<h2>
							<a href="$SERVER_NAME/user/bookItemDetail.htm?id=$!{bookItem.id}" title="" target="_blank">
								$!{bookItem.bookInfo.name}
							</a></h2>
							作　　者：$bookItem.bookInfo.author  <br/>
							ＩＳＢＮ：$bookItem.bookInfo.isbn  <br/>
							版　　本：$bookItem.bookInfo.edition	 <br/>
							出版时间：$dateTool.format("yyyy-MM-dd",$bookItem.bookInfo.publishTime)  <br/>
							
						</td>
						<td width="200px" valign="top" style="font-size:16px; color:#89A945;">

                        </td>
						<td valign="top" align="left" width="320px" style="font-size:16px; color:#89A945;">
							#set($memberInfo = $!memberInfoCache.getMemberInfo($!{bookItem.loginId}))
							#if($memberInfo)
							拥&nbsp;有&nbsp;者&nbsp;：&nbsp;$memberInfo.name
							<A href=" http://web.im.alisoft.com/msg.aw?v=2&amp;uid=${memberInfo.aliTalkId}&amp;site=cnalichn&amp;s=1" target=_blank><IMG border=0 alt=点击这里给我发消息 src=" http://web.im.alisoft.com/online.aw?v=2&amp;uid=${memberInfo.aliTalkId}&amp;site=cnalichn&amp;s=1"></A>
							<a href="mailto:${memberInfo.email}"><img src="$SERVER_NAME/images/mail.gif"/></a>
							<br/>
							#end
							#if($bookItem.state == "unavailable")
								该书籍已经下架，预约无效
							#else
								预约状态：
								#if($bookItem.reservation.getState().equals("toBeConfirm"))
									等待批准<br/>
									预约时间：&nbsp;$!dateTool.format("yyyy-MM-dd",$!{bookItem.reservation.lendTime})&nbsp;至&nbsp;$!dateTool.format("yyyy-MM-dd",$!{bookItem.reservation.returnTime})
								#else
									不批准
									<table onClick="javascript:reserveForm${bookItem.id}.style.display=''; this.style.display='none';new Calendar({ lendTime$!{bookItem.id}: 'Y-m-d' }, { direction: 1, tweak: {x: 6, y: -20} });new Calendar({ returnTime$!{bookItem.id}: 'Y-m-d' }, { direction: 1, tweak: {x: 6, y: -20} });" style="cursor: pointer;" border="0" cellpadding="0" cellspacing="0">	
										<tbody><tr>
                                		<td><img src="$SERVER_NAME/images/button_dark_left.gif" border="0"></td>
                                		<td class="button_dark">
                                		重新预约
                                		</td>
                                		<td><img src="$SERVER_NAME/images/button_dark_right.gif" border="0"></td>		
                                		</tr></tbody>
									</table>
									<form action="/user/reserveBook.htm" name="reserveForm${bookItem.id}" method="POST" style="display:none;" id="reserveForm">
										<input type="hidden" name="bookItemId" id="bookItemId" value="$bookItem.id"/>
										<label for="lendTime">借阅时间：</label><input type="text" name="lendTime" id="lendTime$bookItem.id" value=""/>
										<br/>
										<label for="returnTime">归还时间：</label><input type="text" name="returnTime" id="returnTime$bookItem.id" value=""/>
									<table onClick="javascript:document.getElementById('reserveForm${bookItem.id}').submit();" style="cursor: pointer;" border="0" cellpadding="0" cellspacing="0">	
										<tbody><tr>
                                		<td><img src="$SERVER_NAME/images/button_dark_left.gif" border="0"></td>
                                		<td class="button_dark">
                                		预约
                                		</td>
                                		<td><img src="$SERVER_NAME/images/button_dark_right.gif" border="0"></td>		
                                		</tr></tbody>
									</table>
										
									</form>	
								#end
							#end
						</td>
    				</tr>
					</table>		
				</div>
			</td>
		</tr>
		#end
</tbody>
</table>

#parse("widget/pageNav.vm")