<html>
<body>
##重置密码邮件
尊敬的$!{info.owner.name}:<br/>
     您的账号$!{info.owner.loginId}密码已经重置为 $!{info.owner.password} ，请尽快登录 <a href="http://goldroom.b2b.alibaba-inc.com/">黄金屋</a>修改您的密码。
	 <br/>
	 感谢您对黄金屋的支持！
    <br/>
    <a href="http://goldroom.b2b.alibaba-inc.com/">黄金屋[Gold Room]</a>
</body>
</html>