<H2>新闻 ······ </H2>
<UL class="simple-dashed-list">
  <LI class="clearfix">
    <P class="fleft w240">
      <A  href="/news/news-104.action"  target="_blank">热烈庆祝黄金屋系统启用新页面模板 </A>
    </P>
    <SPAN class="fright color-gray">2010-8-20</SPAN>
  </LI>

  <LI class=clearfix>
    <P class="fleft w240">
      <A href="/news/news-103.action"  target="_blank">黄金屋标签功能上线</A>
    </P>
    <SPAN class="fright color-gray">2010-8-12</SPAN>
  </LI>

  <LI class=clearfix>
    <P class="fleft w240">
      <A href="/news/news-102.action" target="_blank">枫林晚即将入驻黄金屋</A>
    </P>
    <SPAN class="fright color-gray">2010-8-8</SPAN>
  </LI>

  <LI class=clearfix>
    <P class="fleft w240">
      <A href="/news/news-101.action" target="_blank">黄金屋用户\系统调研活动结束</A>
    </P>
    <SPAN class="fright color-gray">2010-7-21</SPAN>
  </LI>

  <LI class=clearfix>
    <P class="fleft w240">
      <A href="/news/news-100.action" target="_blank">黄金屋用户\系统调研活动隆重启动</A>
    </P>
    <SPAN class="fright color-gray">2010-7-9</SPAN>
  </LI>
</UL>