#parse("/templates/common/header.vm")
<script type=text/javascript src="$base/static/js/packed__all8.js"></script>

<SCRIPT type=text/javascript>
    jQuery(document).ready(function() {
        jQuery("#menu1 .clearfix").addClass("on");
        jQuery("#content_menu1").show();
        jQuery(".movie_new .content").hide();
        jQuery("#newcontent1").show();
        jQuery(".movie_review .content").hide();
        jQuery("#review1").show();
    })

    jQuery(function() {
        var hl=jQuery("#hot_movies_menu li"),content=jQuery(".movie_headerline .content");
        hl.mouseover(function() {
            jQuery(".menu li .clearfix").removeClass("on");
            jQuery("#"+this.id+" .clearfix").addClass("on");
            content.hide();
            jQuery("#content_"+this.id).show();
            return false;
        });
        jQuery(hl[0]).addClass("on");

        for(var i=5; i; --i) {
            tab("#new"+i,".movie_new","#newcontent")
            if(i<=3) {
                  tab("#reviewtab"+i,".movie_review","#review")
            }
        }
        bind_movie_x();
    });

    function bind_movie_x() {
        var c = arguments.callee;
        jQuery('.movie_x').click(function() {
            if(confirm("你确定要" + this.title)) {
                jQuery("#movie_rec").load_withck(
                    "/j/movie/j_movie_rec",{s:this.rel},c
                );
            }
        });
    }


    function tab(e,t,c) {
        jQuery(e).mousedown(function() {
            jQuery(t+" .green_tab a").removeClass("on");
            jQuery(this).addClass("on");
            jQuery(t+" .content").hide();
            jQuery(c+this.id.slice(-1)).show();
            jQuery.get("/j/movie/j_tab_count",{id:this.id})
        })
    }

</SCRIPT>

</script>
	<!-- content start here-->

<DIV id=content>
<DIV class="grid-16-8 clearfix">
<DIV class=article>
<H2 class=mb5>热门排行 · · · · · · <SPAN class=pl>( <A href="/book/search.do?keyword=">更多</A> )</SPAN> </H2>

#parse("/templates/hotBooksPanel.vm")
<!--热门排行list结束-->
#parse("/templates/newBooksPanel.vm")
#parse("/templates/newbookinfoComment.vm")

</DIV>
<DIV class=aside><!-- douban ad begin -->
<DIV id=google_ads_slot_movie_home_top_right></DIV>
<DIV class="newtags">
	#parse("templates/bulletinBoard.vm")
	#parse("templates/hotTags.vm")
	<br/>
</DIV>

#parse("/templates/memberScoreRanking.vm")

</DIV>
<DIV class=extra></DIV></DIV></DIV>
#parse("templates/common/footer.vm")



