#parse("/templates/common/header.vm")

<script type='text/javascript' src='$base/dwr/interface/ReservationService.js'></script>
<style>
	.ownerInfo li {float: left; border-bottom: 1px dashed rgb(221, 221, 221); margin-left:10%; width: 80%; margin-bottom: 4px; padding-bottom: 5px; padding-left: 5px;}
</style>
<script>
	jQuery.noConflict();
	var showReservation = function(data)
	{
		//data.totalCount
		//data.reservationList
		if (data != null && typeof data == 'object'){
			var reservationList = data.reservationList;
			for(var i = 0; i <  reservationList.length; i++) {
				var r = reservationList[i];
				var str = "Id:" + r.id+ "\n";
    			str += "subcriber:" + r.subscriber.name + "\n";
    			str += "lendTime:" + r.lendTime + "\n";
    			str += "returnTime:" + r.returnTime + "\n";
    			str += "state:" + r.state + "\n";
    			alert(str);
			}
		}
	}
	var showLending = function(data)
	{
		if (data != null && typeof data == 'object'){
			var lendingList = data.lendingList;
			for(var i = 0; i <  lendingList.length; i++) {
				var r = lendingList[i];
				var str = "Id:" + r.id+ "\n";
    			str += "subcriber:" + r.subscriber.name + "\n";
    			str += "lendTime:" + r.lendTime + "\n";
    			str += "returnTime:" + r.returnTime + "\n";
    			str += "state:" + r.state + "\n";
    			alert(str);
				var contactInfo = jQuery("#contactInfo").show();
				contactInfo.html(str);
				contactInfo.css("margin-top", jQuery(document).scrollTop() - contactInfo.css("height") / 2);
			}
		}
	}
</script>
<DIV id="wrapper">
	#parse("templates/common/searchbar.vm")
	<!-- content start here-->
	这是首页
	<!-- content end here -->
	<div style="clear:both"></div>

</DIV>
	
#parse("templates/common/footer.vm")
