#parse("/templates/common/header.vm")
<script type=text/javascript src="$base/static/js/packed__all8.js"></script>

<SCRIPT type=text/javascript>
    jQuery(document).ready(function() {
        jQuery("#menu1 .clearfix").addClass("on");
        jQuery("#content_menu1").show();
        jQuery(".movie_new .content").hide();
        jQuery("#newcontent1").show();
        jQuery(".movie_review .content").hide();
        jQuery("#review1").show();
    })

    jQuery(function() {
        var hl=jQuery("#hot_movies_menu li"),content=jQuery(".movie_headerline .content");
        hl.mouseover(function() {
            jQuery(".menu li .clearfix").removeClass("on");
            jQuery("#"+this.id+" .clearfix").addClass("on");
            content.hide();
            jQuery("#content_"+this.id).show();
            return false;
        });
        jQuery(hl[0]).addClass("on");

        for(var i=5; i; --i) {
            tab("#new"+i,".movie_new","#newcontent")
            if(i<=3) {
                  tab("#reviewtab"+i,".movie_review","#review")
            }
        }
        bind_movie_x();
    });

    function bind_movie_x() {
        var c = arguments.callee;
        jQuery('.movie_x').click(function() {
            if(confirm("你确定要" + this.title)) {
                jQuery("#movie_rec").load_withck(
                    "/j/movie/j_movie_rec",{s:this.rel},c
                );
            }
        });
    }


    function tab(e,t,c) {
        jQuery(e).mousedown(function() {
            jQuery(t+" .green_tab a").removeClass("on");
            jQuery(this).addClass("on");
            jQuery(t+" .content").hide();
            jQuery(c+this.id.slice(-1)).show();
            jQuery.get("/j/movie/j_tab_count",{id:this.id})
        })
    }

</SCRIPT>

</script>
	<!-- content start here-->

<DIV id=content>
<DIV class="grid-16-8 clearfix">
<DIV class=article>
<H2 class=mb5>热门排行 · · · · · · <SPAN class=pl>( <A href="/list">更多</A> )</SPAN> </H2>

#parse("/templates/hotBooksPanel.vm")
<!--热门排行list结束-->
#parse("/templates/newBooksPanel.vm")


<DIV class="movie_review clearfix">
  <H2 class="green_tab clearfix">
    <DIV class=ll>
      最受欢迎的书评 · · · · · ·
    </DIV>
    <A id=reviewtab1 class=on href="javascript:void(0)">
      <SPAN>
        热门评论
      </SPAN>
    </A>
    <A id=reviewtab2 href="javascript:void(0)">
      <SPAN>
        新片评论
      </SPAN>
    </A>
  </H2>
  <DIV id=review1 class=content>
    <UL style="CLEAR: both" class="tlst clearfix">
      <LI class=nlst>
        <H3>
          <A style="FLOAT: left" title="得閒炒飯:雙情路上遇見愛 攣攣直直又如何" href="http://movie.douban.com/review/3578822/">
            得閒炒飯:雙情路上遇見愛 攣攣直直又如何
          </A>
          <DIV id=tb-3578822 class=rr>
            <A style="BACKGROUND: none transparent scroll repeat 0% 0%" id=af-3578822
            class="j a_unfolder" href="http://movie.douban.com/review/3578822/" rel=sw-False>
              <IMG title=展开全文 alt=">" src="index_files/arrow2.gif">
            </A>
            <A style="DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%"
            id=au-3578822 class="j a_folder" href="javascript:void(0);">
              <IMG title=缩进全文 alt="<" src="index_files/arrow3.gif">
            </A>
          </DIV>
        </H3>
      </LI>
      <LI style="CLEAR: both" class=ilst>
        <A title=得閒炒飯 href="http://movie.douban.com/subject/4145476/">
          <IMG class=fil alt=得閒炒飯 src="index_files/s4398293.jpg">
        </A>
      </LI>
      <LI class=clst>
        <SPAN class="pl ll obss">
          <SPAN class=starb>
            <A href="http://movie.douban.com/people/szeman/">
              Dorothy
            </A>
            (夏春秋) &nbsp;评论:
            <A onclick="moreurl(this, {from:'review'})" href="http://movie.douban.com/subject/4145476/">
              得閒炒飯 / 得闲炒饭
            </A>
          </SPAN>
          <SPAN class="stars5 stars" title=力荐>
          </SPAN>
        </SPAN>
        <BR>
        <BR>
        <DIV id=review_3578822_short>
          記得去年參與香港同志遊行時,得知作為彩虹大使的許鞍華導演在拍攝同志電影,還知道玉女獎門人周慧敏更為此電影而「復出」,周小姐曾經是筆者小時的偶像,故此從電影的拍攝到上映都很期待。再加上華語電影很少涉及「同性戀」的題材,更何況是少人明白與懂得的......
          <A class=pl href="http://movie.douban.com/review/3578822/">
            (8回应)
          </A>
        </DIV>
        <DIV style="DISPLAY: none" id=review_3578822_full>
        </DIV>
      </LI>
    </UL>
    <DIV class=clear>
    </DIV>
    <UL style="CLEAR: both" class="tlst clearfix">
      <LI class=nlst>
        <H3>
          <A style="FLOAT: left" title=片不好看只因【滥】 href="http://movie.douban.com/review/3582895/">
            片不好看只因【滥】
          </A>
          <DIV id=tb-3582895 class=rr>
            <A style="BACKGROUND: none transparent scroll repeat 0% 0%" id=af-3582895
            class="j a_unfolder" href="http://movie.douban.com/review/3582895/" rel=sw-False>
              <IMG title=展开全文 alt=">" src="index_files/arrow2.gif">
            </A>
            <A style="DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%"
            id=au-3582895 class="j a_folder" href="javascript:void(0);">
              <IMG title=缩进全文 alt="<" src="index_files/arrow3.gif">
            </A>
          </DIV>
        </H3>
      </LI>
      <LI style="CLEAR: both" class=ilst>
        <A title=龙凤店 href="http://movie.douban.com/subject/4735944/">
          <IMG class=fil alt=龙凤店 src="index_files/s4411209(1).jpg">
        </A>
      </LI>
      <LI class=clst>
        <SPAN class="pl ll obss">
          <SPAN class=starb>
            <A href="http://movie.douban.com/people/naocanqiang/">
              脑残枪
            </A>
            (玩心死四年) &nbsp;评论:
            <A onclick="moreurl(this, {from:'review'})" href="http://movie.douban.com/subject/4735944/">
              龙凤店
            </A>
          </SPAN>
          <SPAN class="stars3 stars" title=还行>
          </SPAN>
        </SPAN>
        <BR>
        <BR>
        <DIV id=review_3582895_short>
          其实我还没看这片呢~不过想mark一下~但是不用看大概也能预料一二，港式搞笑加上这个人马，要是放在过去改革开放初期绝对是奔放至极，但是放到现在的大环境，娱乐圈可能还不如观影圈淫乱可笑，自然一切的kuso都显得无趣而做作了~
          大家都说《......
          <A class=pl href="http://movie.douban.com/review/3582895/">
            (4回应)
          </A>
        </DIV>
        <DIV style="DISPLAY: none" id=review_3582895_full>
        </DIV>
      </LI>
    </UL>
    <DIV class=clear>
    </DIV>
    <UL style="CLEAR: both" class="tlst clearfix">
      <LI class=nlst>
        <H3>
          <A style="FLOAT: left" title=小清新都是鹤顶红，爱谁都别爱小清新 href="http://movie.douban.com/review/3579141/">
            小清新都是鹤顶红，爱谁都别爱小清新
          </A>
          <DIV id=tb-3579141 class=rr>
            <A style="BACKGROUND: none transparent scroll repeat 0% 0%" id=af-3579141
            class="j a_unfolder" href="http://movie.douban.com/review/3579141/" rel=sw-False>
              <IMG title=展开全文 alt=">" src="index_files/arrow2.gif">
            </A>
            <A style="DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%"
            id=au-3579141 class="j a_folder" href="javascript:void(0);">
              <IMG title=缩进全文 alt="<" src="index_files/arrow3.gif">
            </A>
          </DIV>
        </H3>
      </LI>
      <LI style="CLEAR: both" class=ilst>
        <A title=枪王之王 href="http://movie.douban.com/subject/4133988/">
          <IMG class=fil alt=枪王之王 src="index_files/s4381860.jpg">
        </A>
      </LI>
      <LI class=clst>
        <SPAN class="pl ll obss">
          <SPAN class=starb>
            <A href="http://movie.douban.com/people/jipin1985/">
              非常严肃
            </A>
            (其实很多人早已离开只是没有道别) &nbsp;评论:
            <A onclick="moreurl(this, {from:'review'})" href="http://movie.douban.com/subject/4133988/">
              枪王之王
            </A>
          </SPAN>
          <SPAN class="stars3 stars" title=还行>
          </SPAN>
        </SPAN>
        <BR>
        <BR>
        <DIV id=review_3579141_short>
          古天乐这个男人，帅，有钱，孝顺，职业光鲜，最重要的是有房有车。业余爱好打手枪，周旋在两个女人之间，一个小清新，一个熟女。开车五年，没有一次违章记录。
          我从电影开始就顺着吴彦祖的脑子去思考，他的犯罪动机究竟是什么？苦思不得其解。......
          <A class=pl href="http://movie.douban.com/review/3579141/">
            (14回应)
          </A>
        </DIV>
        <DIV style="DISPLAY: none" id=review_3579141_full>
        </DIV>
      </LI>
    </UL>
    <DIV class=clear>
    </DIV>
    <DIV style="FLOAT: right">
      &gt;
      <A href="http://movie.douban.com/review/best/">
        更多书评
      </A>
    </DIV>
  </DIV>
  <DIV id=review2 class=content>
    <UL style="CLEAR: both" class="tlst clearfix">
      <LI class=nlst>
        <H3>
          <A style="FLOAT: left" title="Inception 情节逻辑完全解析" href="http://movie.douban.com/review/3447868/">
            Inception 情节逻辑完全解析
          </A>
          <DIV id=tb-3447868 class=rr>
            <A style="BACKGROUND: none transparent scroll repeat 0% 0%" id=af-3447868
            class="j a_unfolder" href="http://movie.douban.com/review/3447868/" rel=sw-False>
              <IMG title=展开全文 alt=">" src="index_files/arrow2.gif">
            </A>
            <A style="DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%"
            id=au-3447868 class="j a_folder" href="javascript:void(0);">
              <IMG title=缩进全文 alt="<" src="index_files/arrow3.gif">
            </A>
          </DIV>
        </H3>
      </LI>
      <LI style="CLEAR: both" class=ilst>
        <A title=Inception href="http://movie.douban.com/subject/3541415/">
          <IMG class=fil alt=Inception src="index_files/s4356687.jpg">
        </A>
      </LI>
      <LI class=clst>
        <SPAN class="pl ll obss">
          <SPAN class=starb>
            <A href="http://movie.douban.com/people/36215013/">
              黑白光影
            </A>
            &nbsp;评论:
            <A onclick="moreurl(this, {from:'review'})" href="http://movie.douban.com/subject/3541415/">
              Inception / 盗梦空间
            </A>
          </SPAN>
          <SPAN class="stars5 stars" title=力荐>
          </SPAN>
        </SPAN>
        <BR>
        <BR>
        <DIV id=review_3447868_short>
          Inception 情节逻辑完全解析 （有不明白地方的进，没看过的别进） Inception 情节逻辑完全解析 （有不明白地方的进，没看过的别进）
          Inception就好象是玄幻小说，你必须接受它......
          <A class=pl href="http://movie.douban.com/review/3447868/">
            (543回应)
          </A>
        </DIV>
        <DIV style="DISPLAY: none" id=review_3447868_full>
        </DIV>
      </LI>
    </UL>
    <DIV class=clear>
    </DIV>
    <UL style="CLEAR: both" class="tlst clearfix">
      <LI class=nlst>
        <H3>
          <A style="FLOAT: left" title=只有文藝情調，卻沒有生活細節的台北 href="http://movie.douban.com/review/3288950/">
            只有文藝情調，卻沒有生活細節的台北
          </A>
          <DIV id=tb-3288950 class=rr>
            <A style="BACKGROUND: none transparent scroll repeat 0% 0%" id=af-3288950
            class="j a_unfolder" href="http://movie.douban.com/review/3288950/" rel=sw-False>
              <IMG title=展开全文 alt=">" src="index_files/arrow2.gif">
            </A>
            <A style="DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%"
            id=au-3288950 class="j a_folder" href="javascript:void(0);">
              <IMG title=缩进全文 alt="<" src="index_files/arrow3.gif">
            </A>
          </DIV>
        </H3>
      </LI>
      <LI style="CLEAR: both" class=ilst>
        <A title=第36个故事 href="http://movie.douban.com/subject/3732780/">
          <IMG class=fil alt=第36个故事 src="index_files/s4293844.jpg">
        </A>
      </LI>
      <LI class=clst>
        <SPAN class="pl ll obss">
          <SPAN class=starb>
            <A href="http://movie.douban.com/people/aiyung/">
              愛永
            </A>
            (因為心裡可惜，我們才學會珍惜。) &nbsp;评论:
            <A onclick="moreurl(this, {from:'review'})" href="http://movie.douban.com/subject/3732780/">
              第36个故事
            </A>
          </SPAN>
          <SPAN class="stars3 stars" title=还行>
          </SPAN>
        </SPAN>
        <BR>
        <BR>
        <DIV id=review_3288950_short>
          我對台北一直有種又愛又恨的複雜情愫：它曾是我最想停留的地方，也曾是我最想逃離的所在。我愛它的豐富多元，也愛它的無所不能；我恨它的寂寞疏離，卻也愛它的自由空曠。
          記憶中所有曾在台北發生的一切，都與夢想和自由緊密連結，它是一個讓人習慣期盼，......
          <A class=pl href="http://movie.douban.com/review/3288950/">
            (124回应)
          </A>
        </DIV>
        <DIV style="DISPLAY: none" id=review_3288950_full>
        </DIV>
      </LI>
    </UL>
    <DIV class=clear>
    </DIV>
    <UL style="CLEAR: both" class="tlst clearfix">
      <LI class=nlst>
        <H3>
          <A style="FLOAT: left" title=其实，导演和编剧都是变异人。。。 href="http://movie.douban.com/review/3514061/">
            其实，导演和编剧都是变异人。。。
          </A>
          <DIV id=tb-3514061 class=rr>
            <A style="BACKGROUND: none transparent scroll repeat 0% 0%" id=af-3514061
            class="j a_unfolder" href="http://movie.douban.com/review/3514061/" rel=sw-False>
              <IMG title=展开全文 alt=">" src="index_files/arrow2.gif">
            </A>
            <A style="DISPLAY: none; BACKGROUND: none transparent scroll repeat 0% 0%"
            id=au-3514061 class="j a_folder" href="javascript:void(0);">
              <IMG title=缩进全文 alt="<" src="index_files/arrow3.gif">
            </A>
          </DIV>
        </H3>
      </LI>
      <LI style="CLEAR: both" class=ilst>
        <A title=全城戒备 href="http://movie.douban.com/subject/3874981/">
          <IMG class=fil alt=全城戒备 src="index_files/s4407162.jpg">
        </A>
      </LI>
      <LI class=clst>
        <SPAN class="pl ll obss">
          <SPAN class=starb>
            <A href="http://movie.douban.com/people/15465512/">
              恶魔点
            </A>
            &nbsp;评论:
            <A onclick="moreurl(this, {from:'review'})" href="http://movie.douban.com/subject/3874981/">
              全城戒备
            </A>
          </SPAN>
          <SPAN class="stars1 stars" title=很差>
          </SPAN>
        </SPAN>
        <BR>
        <BR>
        <DIV id=review_3514061_short>
          深夜党之不吐槽睡不着觉之本年度最JP烂片《全城戒备》，没有之一。 今天是全国首映。。貌似。 然后我们就幸运地踩到了屎。。以身试法。。而后抽搐而回。。三人一路走一路哆嗦。。出了影院偶还面部肌肉抽筋，而后全身肌肉持续颤抖。......
          <A class=pl href="http://movie.douban.com/review/3514061/">
            (97回应)
          </A>
        </DIV>
        <DIV style="DISPLAY: none" id=review_3514061_full>
        </DIV>
      </LI>
    </UL>
    <DIV class=clear>
    </DIV>
    <DIV style="FLOAT: right">
      &gt;
      <A href="http://movie.douban.com/review/new/">
        更多书评
      </A>
    </DIV>
  </DIV>
</DIV>
</DIV>
<DIV class=aside><!-- douban ad begin -->
<DIV id=google_ads_slot_movie_home_top_right></DIV><!-- douban ad end -->
<DIV class="newtags">
	#parse("templates/bulletinBoard.vm")
	#parse("templates/hotTags.vm")
	<br/>
</DIV>

<!-- 以后作推荐排行榜
<DIV class=movie_top>
<H2>推荐排行榜· · · · · · </H2>
<UL class=content>
   <LI class=clearfix>
  <DIV class=no>10</DIV>
  <DIV class=name><A onclick="moreurl(this, {from:'week'})"
  href="">三个傻瓜</A></DIV>
  <DIV class="fright color-gray">2个推荐</DIV>
   </LI>

</UL></DIV>
-->

#parse("/templates/memberScoreRanking.vm")

</DIV>
<DIV class=extra></DIV></DIV></DIV>
#parse("templates/common/footer.vm")



