该书籍信息不存在，请先填写书籍信息
#springBind("bookInfo.*")
#validationError()
<form action="/user/fillBookInfo.htm" method="POST">
<table >
	<tr >
        <td >isbn
        </td>
        <td >$!{isbn}
			<input type="hidden" name="isbn" value="$!{isbn}"/>
        </td>
    </tr>
    <tr >
        <td >NAME
        </td>
        <td >#springFormInput("bookInfo.name" 'size="45" maxlength="45"')
        </td>
    </tr>
	
	 <tr>
        <td>Edition</td>
        <td >
           #springFormInput("bookInfo.edition" 'size="45" maxlength="45"')
        </td>
    </tr>
    <tr>
        <td>AUTHOR</td>
        <td >
           #springFormInput("bookInfo.author" 'size="45" maxlength="45"')
        </td>
    </tr>
	 <tr>
        <td>CATEGORY</td>
        <td >
			<select name="categoryId">
					<option value="">select....</option>
				#foreach($category in ${categoryCache.categorys})
						<option value="${category.id}">${category.name}</option>
				#end
            </select>
        </td>
    </tr>
    <tr >
        <td >DESCRIPTION
        </td>
        <td >#springFormTextarea("bookInfo.description" '')
        </td>
    </tr>
    <tr >
        <td >PUBLISHER
        </td>
        <td >#springFormInput("bookInfo.publisher" 'size="45" maxlength="45"')
        </td>
    </tr>
	<tr >
        <td >PUBLISHER Time
        </td>
        <td >#springFormInput("bookInfo.publishTime" 'size="45" maxlength="45"')
        </td>
    </tr>
	<tr >
        <td >Image Url
        </td>
        <td >#springFormInput("bookInfo.imgUrl" 'size="45" maxlength="45"')
        </td>
    </tr>
	<tr >
        <td ><input name="submit" type="submit" value="submit"/>
        </td>
        
    </tr>
</table>
</form>