<span id="error">
	<div id="err_tips"> 出错了～！</div>
	<div id="err_msg" style="display:none"> $!exception.stackTrace</div>
	<div id="err_stack" style="display:none"> $!exceptionStack </div>
</span>
