<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<HTML>
	<head>
		<title>黄金屋--阿里人的图书分享平台</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
		<meta name="description" content="黄金屋，益多多">

		<link rel="shortcut icon" type=image/x-icon href="$base/static/images/favicon.ico"/>
		<link rel=stylesheet type=text/css href="$base/static/css/packed_douban243.css"/>
		<link rel=stylesheet type=text/css href="$base/static/css/packed__all68.css"/>
		<link rel=stylesheet type=text/css href="$base/static/css/goldroom.css"/>

		<script type=text/javascript src="$base/static/js/jquery-1.4.2.min.js"></script>
		<script type='text/javascript' src='$base/dwr/engine.js'></script>
	</head>
	<body>
	<DIV class=top-nav>
	<DIV class=bd>
		#parse("/templates/common/memberInfo.vm")
		<DIV class=top-nav-items>
		<UL>
		  <LI><A href="/">黄金屋</A> </LI>
		  <LI><A href="http://t.sina.com.cn/aligoldroom" target="_blank">黄金屋新浪微博</A> </LI>
		</UL>
	</DIV></DIV></DIV>
	#parse("/templates/common/searchbar.vm")

	#set ($baseURL='https://'+$server) ##网站基本地址URL
	#set ($imageServer=$baseURL + '/images') ##图书图片路径
	#set ($ebookServer=$baseURL + '/ebook') ##电子书下载路径
