	<div id="memberInfo">
		<DIV class=top-nav-info>
			用户名：<input name="username" type="text" maxLength=60 value="用户名" style="color:rgb(212, 212, 212);"/>&nbsp;&nbsp;
			密码：<input name="password" type="password" maxLength=60 value="密码" style="color:rgb(212, 212, 212);"/>&nbsp;&nbsp;
			<input type="button" value="登录"/>
		</DIV>
	
	    <span>name:</span><span id="name"></span>
		<span>aliTalkId:</span><span id="aliTalkId"></span>
		<span>ext:</span><span id="ext"></span>
		<span>email:</span><span id="email"></span>
		<span>location:</span><span id="location"></span>
	</div>
