#parse("/templates/common/header.vm")
<script type='text/javascript' src='/dwr/interface/ReservationService.js'></script>
<script type='text/javascript' src='$base/static/js/popup.js'></script>
<script type="text/javascript" src="$base/static/js/My97DatePicker/WdatePicker.js"></script>
<style>
	.ownerInfo li {float: left; border-bottom: 1px dashed rgb(221, 221, 221);  width: 95%; margin-bottom: 4px; padding-bottom: 5px; padding-left: 5px;}
	.bookscontents DL{
    	margin:15px 33px 15px 0;
    	float:left;
    	overflow:hidden;
    	text-align:center;
    	width:155px;
    }
    .bookscontents DL.clear  {
        clear:both;
        float:none;
        margin:0;
        padding:0;
        width:0;
    }
</style>
<script type='text/javascript'>
	jQuery(document).ready(function() {
		for(var i = 3; i >0; i--) {
			jQuery("#new" + i).mousedown(function() {
				jQuery(".movie_new .green_tab a").removeClass("on");
				jQuery(this).addClass("on");
				jQuery(".movie_new .content").hide();
				jQuery("#newcontent" + this.id.slice(-1)).show();
			});
		}
	});


 function showPopUp(bookItemId){
    var popUp = new PopUp("onShelve", "书籍借阅", 250, 150, true);

	var table = '<table width="226" height="108" border="0" align="center">'+
  				'<tr>'+
    			'<td width="78" height="33">借阅时间</td>'+
    			'<td width="138" colspan="2"><input id="d1" class="Wdate" type="text" onFocus="var d2=$dp.$(\'d2\');WdatePicker({minDate:\'%y-%M-%d\',maxDate:\'#F{$dp.$D(\\\'d2\\\')}\'})"/></td>'+
  				'</tr>'+
  				'<tr>'+
    			'<td height="32">归还时间</td>'+
    			'<td colspan="2"><input id="d2" class="Wdate" type="text" onFocus="WdatePicker({minDate:\'#F{$dp.$D(\\\'d1\\\')}\',maxDate:\'#F{$dp.$D(\\\'d1\\\',{d:+30})}\'})"/></td>'+
 				'</tr>'+
  				'<tr align="center">'+
    			'<td colspan="3">'+
      			'<input id="LendBtn" type="button" name="button1" value="借阅">'+
	  			'&nbsp;&nbsp;'+
     			'<input id="cancelReturnBookBtn2" type="button" name="button2" value="取消">'+
    			'</td>'+
  				'</tr>'+
				'</table>';
	popUp.show(table);
	jQuery("#cancelReturnBookBtn2").click(
		function(){
			popUp.hide();
		}
	);
	jQuery("#LendBtn").click(
		function(){

			var d1Val = jQuery("#d1").val();
			var d2Val = jQuery("#d2").val();
			if(d1Val == ''){
				alert('请选择借阅时间');
				return;
			}
			if(d2Val == ''){
				alert('请选择归还时间');
				return;
			}
    		jQuery.ajax({
                	type: "POST",
                   	url: "$base/mygoldroom/reservationManage.action",
                   	data: "bookItemId=" + bookItemId + "&lendTime=" + d1Val + "&returnTime=" + d2Val,
                   	success: function(msg){
    					if(msg == "success"){
        			   	 	alert("借阅成功");
							popUp.hide();
        			 	} else {
    						alert("借阅失败");
							popUp.hide();
    					}
                   	}
    			});
		}
	);
 }
 function postComment(bookInfoId){
 	var content = jQuery("#comment_content").val();
 	jQuery.ajax({
            	type: "POST",
               	url: "$base/book/bookCommentAction.action",
               	data: "bookInfoId=" + bookInfoId + "&content="+ content,
               	success: function(response){
					 eval("var obj ="+response);
					if(obj.result == "success"){
    			   	 	alert("评价成功");
						var li ='<li style="width: 900px; padding-left: 25px; height:auto;">'+
                    			'	<div id="left_up">'+
                    			'	<div id="right">'+
                    			'		<h3>'+obj.memberName+'&nbsp;&nbsp;' + obj.gmtCreate + '</h3>'+
                    			'		<div style="padding-right: 20px; padding-left: 20px;">'+
                    			'		'+content +
                    			'		</div>'+
                    			'	</div>'+
                    			'</li>';

						jQuery("#jsAddComment").html(jQuery("#jsAddComment").html() + li);
						jQuery("#comment_content").val("");
    			 	} else {
						alert(obj.msg);
					}
               	}
			});
 }
</script>

<style>
.bookImg {max-height: 180px; max-width:120px; width:expression(document.body.clientWidth>120?"120px":"auto"}
.bookscontents DL{
	margin:15px 33px 15px 0;
	float:left;
	overflow:hidden;
	text-align:center;
	width:155px;
}
.bookscontents DL.clear  {
clear:both;
float:none;
margin:0;
padding:0;
width:0;
}
.bookscontents img{
	width:120px
}
</style>
	<!-- content start here-->
	<div class="grid-16-8 clearfix">
		<div style="padding-left: 8px; padding-right: 20px;height:217px;" class="article movie_headerline">
            <div class="left_conner"><em> </em> <b> </b></div>
            <div class="first"><em> </em> <b> </b></div>
            <div class="last"><em> </em> <b> </b></div>
			<h2>$!bookInfo.name</h2>
			<div class="subjectwrap clearfix">
				<div class="subject clearfix">
					<div id="mainpic" class="imageBorder">
						<a	href="$!{imageServer}$!{bookInfo.imgUrl}" title="$!bookInfo.name" target="_blank">
							<img width="120px;" height="160px;" class="bookImg" src="$!{imageServer}$!{bookInfo.imgUrl}" title="点击看大图" alt="$!bookInfo.name">
						</a>
					</div>
					<div id="info" style="line-height: 30px;">
						#if($bookInfo.author)
							<span class="pl"> 作者 </span> :
							<a href="$base/book/search.do?keyword=$!{bookInfo.author}" target="_blank">$!bookInfo.author </a> <br>
						#end
						#if($bookInfo.translator)
							<span class="pl"> 译者 </span> :
							<a href="$base/book/search.do?keyword=$!bookInfo.translator">$!bookInfo.translator</a> </span> <br>
						#end
						#if($bookInfo.isbn)
							<span class="pl"> ISBN: </span>$!bookInfo.isbn <br>
						#end
						#if($bookInfo.publisher)
							<span class="pl"> 出版社: </span>$!bookInfo.publisher <br>
						#end
						#if($bookInfo.publishTime)
							<span class="pl"> 出版时间: </span>$date.format("yyyy-MM-dd", $!bookInfo.publishTime) <br>
						#end
						#if($bookInfo.edition)
							<span class="pl"> 版本: </span>$!bookInfo.edition<br>
						#end
						#if($bookInfo.pages)
							<span class="pl"> 页数: </span>$!bookInfo.pages<br>
						#end
					</div>
				</div>
				<div id="interest_sectl">
					<a href="$base/mygoldroom/uploadPaperBook.action?isbn=$bookInfo.isbn" target="_blank">我也有这本书，我要分享</a><br/>
					#if($!bookInfo.storeState == "paper")
					<br/><a href="$base/mygoldroom/uploadEBook.action?isbn=$bookInfo.isbn" target="_blank">我有电子版，我要分享</a>
					#end
				</div>
			</div>
		</div>


		<!-- 图书拥有者信息 -->
		<!--
		<div style="height: 258px; border: 1px solid rgb(228, 228, 228); padding: 0px 8px; margin-bottom: 0px;"	class="aside movie_headerline">
		</div>
		-->
		<style>
        #sidebar-tab{width:320px;float:right;height: 217px;}
        #tab-title {margin-left:-4px;margin-top: 0px;}
        #tab-title h3{color:#666;font-size:12px;font-weight:400;}
        #tab-title .selected{
        	background-position: left top;
    		line-height: 12px;
			padding: 0 0 0 8px;
			background: url("/static/images/pics/green_tab.gif") no-repeat scroll 0 0 transparent;
    		color: #FFFFFF;
    		display: block;
    		width:20;
    		float: left;
		    font-size: 12px;
		    line-height: 12px;
		    margin: 3px 5px 0;
		    padding: 2px;
		    white-space: nowrap;
		} /*标题被选中时的样式*/
        #tab-title span{padding:5px 9px 5px 10px;margin-left:-5px;cursor:pointer; }
        #tab-content .hide{display:none;} /*默认让第一块内容显示，其余隐藏*/
        #tab-content ul{padding:5px 10px;overflow:hidden;height:163px;}
        #tab-content ul li{height:15px;}
        </style>
        <div id="sidebar-tab" class="movie_headerline">
           	<div class="left_conner"><em></em><b></b></div>
    <div class="first"><em></em><b></b></div>
    <div class="last"><em></em><b></b></div>
           <div id="tab-title">
              <h3 >
				#foreach($bookItem in $bookItemList)
					#if($bookItem.state != 'ebook')
					<span #if($velocityCount==0)class="selected" #end>$!{bookItem.owner.name}</span>
					#end
				#end
			  </h3>
           </div>
           <div id="tab-content">
			#foreach($bookItem in $bookItemList)
			  #if($bookItem.state != 'ebook')
              <ul #if($velocityCount!=0)class="hide"#end>
                <div class="newtags">
                	<div style="float: right; position: absolute; left: 213px; top: 35px;">
                		#if($bookItem.state == 'idle')
                			<img onclick="javascript:showPopUp($!{bookItem.id})" src="/static/images/lending.png" style="cursor:pointer;width:80px;" title="借阅"/>
                		#else
                			<img src="/static/images/lending-gray.png" style="cursor:pointer;width:80px;" title="不可借阅"/>
                		#end
                	</div>
                	<ul class="simple-dashed-list">
                    	<div style="height: 50px;" class="ownerInfo">
                        	<li><b>姓名：</b>$!{bookItem.owner.name}
							</li>
    						<li><b>工号：</b>$!{bookItem.owner.workId}</li>
                        	<li><b>座位：</b>$!{bookItem.owner.aliTalkId}</li>
                        	<li><b>分机：</b>$!{bookItem.owner.ext}</li>
                        	<li><b>旺旺：</b>   	</li>
                        	<li><b>邮箱：</b><a href="mailto:$!{bookItem.owner.email}">$!{bookItem.owner.email}</a></li>
    					</div>
                    </ul>
    			</div>
			  </ul>
			  #end
			#end
           </div>
        </div>
        <script type='text/javascript'>
        jQuery('#tab-title span').click(function(){
           jQuery(this).addClass("selected").siblings().removeClass();
           jQuery("#tab-content > ul").slideUp('1500').eq(jQuery('#tab-title span').index(this)).slideDown('1500');
        });
        </script>

		<div style="float: left; width: 950px; padding-top: 5px; line-height: 30px;" class="movie_new">
			<h2 class="green_tab clearfix">
				<a href="javascript:void(0)" class="on" id="new1"><span> 内容简介 </span> </a>
				<a href="javascript:void(0)" id="new2"> <span> 书评 </span> </a>
			</h2>

			<ul id="newcontent1" class="content clearfix" style="text-indent: 2em; display: block;">
				$!bookInfo.description
			</ul>

			<ul id="newcontent2" class="content clearfix" style="display: none;">
				#foreach($comment in $commentList)
				<li style="width: 900px; padding-left: 25px; height:auto;">
					<div style="; id="left_up">
						<div style="" id="right">
							<h3>${comment.member.name} &nbsp;&nbsp; $!date.format("yyyy-MM-dd", $!{comment.gmtCreate})</h3>
							<div style="padding-right: 20px; padding-left: 20px;">
								$!{comment.content}
							</div>
						</div>
				</li>
				#end
				<div id="jsAddComment"></div>


				<li style="width: 900px; padding-left: 30px;height: 220px;">
    				<table width="341" border="0">
                      <tr>
                        <td height="33">我的评价 ...... </td>
                      </tr>
                      <tr>
                        <td height="46"><textarea name="comment_content" id="comment_content" cols="80" rows="6"></textarea></td>
                      </tr>
                      <tr>
                        <td height="38">
                          <input type="button" name="button" value="加上去" onclick="postComment($!bookInfo.id);return false;">
                        </td>
                      </tr>
                    </table>
				</li>
				#if($session && $session.getAttribute("LOGGED_USER"))
				#else
				<li style="width: 900px; padding-left: 30px;">
					<a href="javascript:alert('对不起，您还未登陆，不能进行评价')">我要评价 ......</a>
				</li>
				#end
			</ul>


		</div>
	</div>
	<br/>
	#if($relatedBookInfoList && $relatedBookInfoList.size() > 0)
	<div class="bookscontents" style="padding-left: 8px; BORDER-BOTTOM: #e4e4e4 1px solid; POSITION: relative; BORDER-LEFT: #e4e4e4 1px solid; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid">
		<h3 style="margin-left:-8px;padding-left: 8px;">相关书籍</h3>
		#foreach($relatedBookInfo in $relatedBookInfoList)
			#set($bgColor = "")
			#if($velocityCount % 2 == 0 )
				#set($bgColor = "#E7F5F6")
			#end
<div class="aside movie_headerline book-search-list" style="background:$bgColor; width: 125px; height: 212px; text-align: center;">
    <div class="left_conner"><em></em><b></b></div>
    <div class="first"><em></em><b></b></div>
    <div class="last"><em></em><b></b></div>
    <div class="imageBorder">
        <img width="120px;" height="160px;" src="$!{imageServer}$!relatedBookInfo.imgUrl" class="m_sub_img" style="cursor: pointer;" onclick="javascript:window.open('/detail/bookDetail.do?bookInfoId=$relatedBookInfo.id&log=detail&log1=$relatedBookInfo.id')">
        <DIV class="detail-frame">
            <H3><B>书籍简介:</B></H3>
            <P>
                #if($!relatedBookInfo.description.length() > 200) $relatedBookInfo.description.substring(0,200)...
                #else $!relatedBookInfo.description #end
            </P>
        </DIV>
    </div>
	<div style="clear: both; padding-top: 8px;">
              <a href="bookDetail.do?bookInfoId=$!relatedBookInfo.id" title="$!relatedBookInfo.name">
				#if($!relatedBookInfo.name.length() > 15)
					$!relatedBookInfo.name.substring(0,10)...
   				#else
					$!relatedBookInfo.name
   				#end
              </a>
              </div>
</div>
		#end

          <dl class="clear">
          </dl>
        </div>
	#end
	<!-- 同类书（完） -->
	<!-- content end here -->
	<div style="clear:both"></div>
<SCRIPT type=text/javascript>
jQuery(function () {
  	var t;
	jQuery('.imageBorder').hover(
        function () {
            if (t) {
                window.clearTimeout(t);
            }
            var that = this;
            t = window.setTimeout(function () {
                var detailFrame = jQuery('.detail-frame', that).html();
                var thisX = jQuery('img', that).offset().left;
                var thisY = jQuery('img', that).offset().top;

                if (jQuery(that).width() == 104) {
                    var ml = 114;
                } else {
                    var ml = jQuery('img', that).width() + 10;
                }
                var ml = jQuery('img', that).width() + 10;

                jQuery('body').append('<div class="detail-tip shadow-right"></div>');
                jQuery('.detail-tip').html(detailFrame)
                .append('<span class="arrow-left"></span>')
                .css('left', thisX + ml)
                .css('top', thisY);
            }, 200);
        },
        function () {
            if (t) {
                window.clearTimeout(t);
            }
            jQuery('.detail-tip').remove();
        }
    );
  });
</SCRIPT>
#parse("templates/common/footer.vm")

