#parse("/templates/common/header.vm")
<script type='text/javascript' src='/dwr/interface/ReservationService.js'></script>
<script type='text/javascript' src='$base/static/js/popup.js'></script>
<script type="text/javascript" src="$base/static/js/My97DatePicker/WdatePicker.js"></script>
<style>
	.ownerInfo li {float: left; border-bottom: 1px dashed rgb(221, 221, 221);  width: 95%; margin-bottom: 4px; padding-bottom: 5px; padding-left: 5px;}
	.bookscontents DL{
    	margin:15px 33px 15px 0;
    	float:left;
    	overflow:hidden;
    	text-align:center;
    	width:155px;
    }
    .bookscontents DL.clear  {
        clear:both;
        float:none;
        margin:0;
        padding:0;
        width:0;
    }
    .bookImg {max-height: 180px; max-width:120px; width:expression(document.body.clientWidth>120?"120px":"auto"}
    .bookscontents DL{
    	margin:15px 33px 15px 0;
    	float:left;
    	overflow:hidden;
    	text-align:center;
    	width:155px;
    }
    .bookscontents DL.clear  {
        clear:both;
        float:none;
        margin:0;
        padding:0;
        width:0;
    }
    .bookscontents img{
    	width:120px
    }
</style>
<style>
	#sidebar-tab{width:320px; float:right; height:200px;}
    #tab-title {margin-left:-4px;margin-top: 0px;}
    #tab-title h3{ font-size: 12px; }
    #tab-title .selected{
		white-space: nowrap;
		color:white;
		background-color:#83BF73;
		padding: 0 5 0 5px;
	} /*标题被选中时的样式*/
    #tab-title span{margin:5px 0px 5px 5px; cursor:pointer;}
    #tab-content .hide{display:none;} /*默认让第一块内容显示，其余隐藏*/
    #tab-content ul{padding:10px 10px;}
    #tab-content ul li{height:15px;}
</style>
<script type='text/javascript'>
	jQuery(document).ready(function() {
		for(var i = 3; i >0; i--) {
			jQuery("#new" + i).mousedown(function() {
				jQuery(".movie_new .green_tab a").removeClass("on");
				jQuery(this).addClass("on");
				jQuery(".movie_new .content").hide();
				jQuery("#newcontent" + this.id.slice(-1)).show();
			});
		}
		jQuery('#tab-title span').click(function(){
           jQuery(this).addClass("selected").siblings().removeClass();
           jQuery("#tab-content > ul").hide().eq(jQuery('#tab-title span').index(this)).show();
        });
	});


 function showPopUp(bookItemId){
 	if(isLogin=='N'){
		alert('对不起，您还未登陆，请先登陆！');
		return;
	}
    var popUp = new PopUp("onShelve", "书籍借阅", 250, 150, true);

	var table = '<table width="226" height="108" border="0" align="center">'+
  				'<tr>'+
    			'<td width="78" height="33">借阅时间</td>'+
    			'<td width="138" colspan="2"><input id="d1" class="Wdate" type="text" onFocus="var d2=$dp.$(\'d2\');WdatePicker({minDate:\'%y-%M-%d\',maxDate:\'#F{$dp.$D(\\\'d2\\\')}\'})"/></td>'+
  				'</tr>'+
  				'<tr>'+
    			'<td height="32">归还时间</td>'+
    			'<td colspan="2"><input id="d2" class="Wdate" type="text" onFocus="WdatePicker({minDate:\'#F{$dp.$D(\\\'d1\\\')}\',maxDate:\'#F{$dp.$D(\\\'d1\\\',{d:+30})}\'})"/></td>'+
 				'</tr>'+
  				'<tr align="center">'+
    			'<td colspan="3">'+
      			'<input id="LendBtn" type="button" name="button1" value="预约">'+
	  			'&nbsp;&nbsp;'+
     			'<input id="cancelReturnBookBtn2" type="button" name="button2" value="取消">'+
    			'</td>'+
  				'</tr>'+
				'</table>';
	popUp.show(table);
	jQuery("#cancelReturnBookBtn2").click(
		function(){
			popUp.hide();
		}
	);
	jQuery("#LendBtn").click(
		function(){

			var d1Val = jQuery("#d1").val();
			var d2Val = jQuery("#d2").val();
			if(d1Val == ''){
				alert('请选择借阅时间');
				return;
			}
			if(d2Val == ''){
				alert('请选择归还时间');
				return;
			}
    		jQuery.ajax({
                	type: "POST",
                   	url: "$base/mygoldroom/reservationManage.action",
                   	data: "bookItemId=" + bookItemId + "&lendTime=" + d1Val + "&returnTime=" + d2Val,
					beforeSend: function () {
						jQuery("#pop_win_contentonShelve").html("处理中，请稍候...");
					},
                   	success: function(msg){
    					if(msg == "success"){
        			   	 	jQuery("#pop_win_contentonShelve").html("预约成功。<br/>请等待<strong>拥有者</strong>同意，同意后你将会收到邮件提醒，并可以到<strong>拥有者</strong>处领书。");
        			 	} else {
    						jQuery("#pop_win_contentonShelve").html("预约失败。<br/>该书籍可能已经其他人被预约，请刷新本页面重试。");
    					}
                   	}
    			});
		}
	);
 }
 function postComment(bookInfoId){
 	var content = jQuery("#comment_content").val();
 	jQuery.ajax({
            	type: "POST",
               	url: "$base/book/bookCommentAction.action",
               	data: "bookInfoId=" + bookInfoId + "&content="+ content,
               	success: function(response){
					 eval("var obj ="+response);
					if(obj.result == "success"){
    			   	 	alert("评价成功");
						var li ='<div style="width: 100%; height:auto;">'+
                    			'	<div id="left_up">'+
                    			'	<div id="right">'+
                    			'		<h3>'+obj.memberName+'&nbsp;&nbsp;' + obj.gmtCreate + '</h3>'+
                    			'		<div style="padding-right: 20px; padding-left: 20px;">'+
                    			'		'+content +
                    			'		</div>'+
                    			'	</div>'+
                    			'</div>';

						jQuery("#jsAddComment").html(jQuery("#jsAddComment").html() + li);
						jQuery("#comment_content").val("");
    			 	} else {
						alert(obj.msg);
					}
               	}
			});
 }
</script>

	<!-- content start here-->
	<div class="grid-16-8 clearfix">
		<div style="padding-left: 8px; padding-right: 20px;height:230px;" class="article movie_headerline">
            <div class="left_conner"><em> </em> <b> </b></div>
            <div class="first"><em> </em> <b> </b></div>
            <div class="last"><em> </em> <b> </b></div>
			<h2>$!bookInfo.name</h2>
			<div class="subjectwrap clearfix">
				<div class="subject clearfix">
					<div id="mainpic" class="imageBorder">
						<a href="$!{imageServer}$!{bookInfo.imgUrl}" title="$!bookInfo.name" target="_blank">
							<img width="120px;" height="160px;" class="bookImg" src="$!{imageServer}$!{bookInfo.imgUrl}" title="点击看大图" alt="$!bookInfo.name">
						</a>
						<a style="color:green;" onclick="javascript:addToFavorite($!{bookInfo.id})"><img src="$!base/static/images/favorite32.jpg" style="vertical-align: middle;margin-top:-3px"/>&nbsp;<span>添加收藏</span></a>
					</div>

					<div id="info" style="line-height: 30px;">
						#if($bookInfo.author)
							<span class="pl"> 作者 </span> :
							<a href="$base/book/search.do?keyword=$!{bookInfo.author}" target="_blank">$!bookInfo.author </a> <br>
						#end
						#if($bookInfo.translator)
							<span class="pl"> 译者 </span> :
							<a href="$base/book/search.do?keyword=$!bookInfo.translator">$!bookInfo.translator</a> </span> <br>
						#end
						#if($bookInfo.isbn)
							<span class="pl"> ISBN: </span>$!bookInfo.isbn <br>
						#end
						#if($bookInfo.publisher)
							<span class="pl"> 出版社: </span>$!bookInfo.publisher <br>
						#end
						#if($bookInfo.publishTime)
							<span class="pl"> 出版时间: </span>$date.format("yyyy-MM-dd", $!bookInfo.publishTime) <br>
						#end
						#if($bookInfo.edition)
							<span class="pl"> 版本: </span>$!bookInfo.edition<br>
						#end
						#if($bookInfo.pages && $bookInfo.pages > 0)
							<span class="pl"> 页数: </span>$!bookInfo.pages<br>
						#end
					</div>
				</div>
				<div id="interest_sectl">
					<a href="$base/mygoldroom/uploadPaperBook.action?isbn=$bookInfo.isbn" target="_blank">我也有这本书，我要分享</a><br/>
					#if($!bookInfo.storeState == "paper")
					<br/><a href="$base/mygoldroom/uploadEBook.action?isbn=$bookInfo.isbn" target="_blank">我有电子版，我要分享</a>
					#end
					#if($!bookInfo.storeState == "ebook" || $!bookInfo.storeState == "both")
						<br/><br/><a href="$!{ebookServer}$!bookInfo.eBookUrl"> [ 下载电子书 ]</a><br/>
					#end
				</div>
			</div>
		</div>

		#parse("/templates/common/wwMacro.vm")

        <div id="sidebar-tab" class="movie_headerline">
           <div class="left_conner"><em></em><b></b></div>
           <div class="first"><em></em><b></b></div>
           <div class="last"><em></em><b></b></div>
           <div id="tab-title">
              <h3 >
				#foreach($bookItem in $bookItemList)
					#if($bookItem.state != 'ebook')
					<span #if($velocityCount==0) class="selected" #end>&nbsp;$!{bookItem.owner.name}&nbsp;</span>
					#end
				#end
			  </h3>
           </div>
           <div id="tab-content">
			#foreach($bookItem in $bookItemList)
			  #if($bookItem.state != 'ebook')
				#set($hasBookItem = true)
              <ul #if($velocityCount!=0)class="hide"#end>
                <div class="newtags">
                	<div style="float: right; left: 213px; top: 35px; position:absolute">
                		#if($bookItem.state == 'idle')
                			<img onclick="javascript:showPopUp($!{bookItem.id})" src="/static/images/lending.png" style="cursor:pointer;width:80px;" title="借阅"/>
                		#else
                			<img src="/static/images/lending-gray.png" style="cursor:pointer;width:80px;" title="不可借阅"/>
                		#end
                	</div>
                	<ul class="simple-dashed-list">
                    	<div style="height: 50px;" class="ownerInfo">
                        	<li><b>姓名：</b>$!{bookItem.owner.name}
							</li>
							#if("$!{bookItem.owner.workId}" != "")
    						<li><b>工号：</b>$!{bookItem.owner.workId}</li>
							#end
							#if("$!{bookItem.owner.location}" != "")
                        	<li><b>座位：</b>$!{bookItem.owner.location}</li>
							#end
							#if("$!{bookItem.owner.ext}" != "")
                        	<li><b>分机：</b>$!{bookItem.owner.ext}</li>
							#end
                        	<li><b>旺旺：</b>
                        		## 旺旺表情控件开始.....为了保证功能正常，需要有bookItem和bookInfo对象
                    			#set($state = "不可借")
				            	#if($bookItem.state == 'idle' && ($!bookInfo.storeState =='both' || $!bookInfo.storeState == 'paper'))
		                    		#set($state = "可借")##设置单个人的可借状态
	            				#end
	            				#showWW($bookItem.owner.aliTalkId $bookItem.owner.name $state)
								## 旺旺表情控件结束.....
							</li>
                        	<li><b>邮箱：</b><a href="mailto:$!{bookItem.owner.email}">$!{bookItem.owner.email}</a></li>
    					</div>
                    </ul>
    			</div>
			  </ul>
			  #end
			  #end
			  #if(!$hasBookItem)
				&nbsp;&nbsp;&nbsp;&nbsp;暂无拥有者信息
			  #end
           </div>
        </div>
	</div>
	<br/>

	<h2>内容介绍</h2>
	<div class="intent" style="padding-left:10px">
				#if($!bookInfo.description && $!bookInfo.description.length() > 0)
					$!bookInfo.description
				#else
					暂无介绍信息...
				#end
	</div>
	<br/>
	<!-- 同类书（完） -->
	#if($lendingLogList && $lendingLogList.size() > 0)
	<h2>借阅记录</h2>
	<div class="intent" style="padding-left:10px">
			<table>
				<tr>
					<th width="200px">借阅人
					</th>
					<th>借阅时间
					</th>
				</tr>
				#foreach($lendingLog in $lendingLogList)
					<tr>
						<td>$!lendingLog.member.name</td>
						<td>$date.format("yyyy-MM-dd", $lendingLog.lendTime) ~ $date.format("yyyy-MM-dd", $lendingLog.returnTime)</td>
					</tr>
				#end
			</table>
	</div>
	<br/>
	#end

	<h2>书评</h2>
	<div class="intent" style="padding-left:10px">
				#foreach($comment in $commentList)
				<div style="width: 100%; height:auto; margin-top:10px">
					<div style="; id="left_up">
						<div style="" id="right">
							<h3>${comment.member.name} &nbsp;&nbsp; $!date.format("yyyy-MM-dd hh:mm:ss", $!{comment.gmtCreate})</h3>
							<div style="padding-right: 20px; padding-left: 20px">
								$!{comment.content}
							</div>
						</div>
				</div>
				#end
				<div id="jsAddComment"></div>
				<div style="width: 100%; height: 170px;">
    				<table width="341" border="0">
                      <tr>
                        <td height="33">我的评价 ...... </td>
                      </tr>
                      <tr>
                        <td height="46"><textarea name="comment_content" id="comment_content" cols="80" rows="4"></textarea></td>
                      </tr>
                      <tr>
                        <td>
                          <input type="button" name="button" value="加上去" onclick="postComment($!bookInfo.id);return false;" />
                        </td>
                      </tr>
                    </table>
				</div>
				#if($session && $session.getAttribute("LOGGED_USER"))
				#else
				<div style="width: 900px; padding-left: 30px;">
					<a href="javascript:alert('对不起，您还未登陆，不能进行评价')">我要评价 ......</a>
				</div>
				#end
	</div>
	#if($relatedBookInfoList && $relatedBookInfoList.size() > 0)
	<h2>相关书籍</h2>
	<div class="intent" style="padding-left:10px">
		#foreach($relatedBookInfo in $relatedBookInfoList)
			#if($velocityCount % 2 == 0 )
				#if($velocityCount == 6) <div style="clear:both"></div> #end
			#end
            <div style="float:left; width:125px; height:212px; text-align:center; margin:10px">

                <div class="">
                    <img width="120px;" height="160px;" src="$!{imageServer}$!relatedBookInfo.imgUrl" class="m_sub_img" style="cursor: pointer;" onclick="javascript:window.open('/detail/bookDetail.do?bookInfoId=$relatedBookInfo.id&log=detail&log1=$relatedBookInfo.id')">
                    <DIV class="detail-frame">
                        <H3><B>书籍简介:</B></H3>
                        <P>
                            #if($!relatedBookInfo.description.length() > 200) $relatedBookInfo.description.substring(0,200)...
                            #else $!relatedBookInfo.description #end
                        </P>
                    </DIV>
                </div>
            	<div style="clear: both; padding-top: 8px;">
					<a href="bookDetail.do?bookInfoId=$!relatedBookInfo.id" title="$!relatedBookInfo.name">
            			#if($!relatedBookInfo.name.length() > 15)
            				$!relatedBookInfo.name.substring(0,10)...
               			#else
            				$!relatedBookInfo.name
						#end
					</a>
				</div>
            </div>
		#end
		##end foreach
		<dl class="clear"></dl>
	</div>
    #end
	<!-- content end here -->
	<div style="clear:both"></div>

<SCRIPT type=text/javascript>
jQuery(function () {
  	var t;
	jQuery('.imageBorder').hover(
        function () {
            if (t) {
                window.clearTimeout(t);
            }
            var that = this;
            t = window.setTimeout(function () {
                var detailFrame = jQuery('.detail-frame', that).html();
				if (detailFrame == null) {
					return;
				}

                var thisX = jQuery('img', that).offset().left;
                var thisY = jQuery('img', that).offset().top;

                if (jQuery(that).width() == 104) {
                    var ml = 114;
                } else {
                    var ml = jQuery('img', that).width() + 10;
                }
                var ml = jQuery('img', that).width() + 10;

                jQuery('body').append('<div class="detail-tip shadow-right"></div>');
                jQuery('.detail-tip').html(detailFrame)
                .append('<span class="arrow-left"></span>')
                .css('left', thisX + ml)
                .css('top', thisY);
            }, 200);
        },
        function () {
            if (t) {
                window.clearTimeout(t);
            }
            jQuery('.detail-tip').remove();
        }
    );
});
function addToFavorite (bookInfoId){
	if(typeof(bookInfoId) == 'undefined' || bookInfoId == null){
		alert('添加收藏失败');
		return;
	}
	jQuery.ajax({
		type: "POST",
		url: "$base/mygoldroom/addFavorite.action",
        data: "bookInfoId=" + bookInfoId,
		bookInfoId: ""+ bookInfoId,
        success: function(msg){
            if(msg == "success"){
		   		var popUp = new PopUp("onShelve", "添加收藏成功", 250, 150, true);
				popUp.show("添加收藏成功，<a href='/mygoldroom/myFavoriteList.action?bookInfoId=" + bookInfoId + "' target='_blank'>查看收藏</a>");
			} else if (msg == "needLogin") {
				var popUp = new PopUp("onShelve", "添加收藏失败", 250, 150, true);
			 	popUp.show("请先登录后再尝试");
			} else if (msg == "exists") {
				var popUp = new PopUp("onShelve", "添加收藏失败", 250, 150, true);
			 	popUp.show("您已经收藏过这本书了，<a href='/mygoldroom/myFavoriteList.action?bookInfoId=" + bookInfoId + "' target='_blank'>查看收藏</a>");
			} else {
				var popUp = new PopUp("onShelve", "添加收藏失败", 250, 150, true);
			 	popUp.show("添加收藏删失败，请稍后再尝试");
			}
		}
	});
}
</SCRIPT>
#parse("templates/common/footer.vm")
<script type=text/javascript src="$base/static/js/wwState.js"></script>