#parse("/templates/common/header.vm")
<style>
#onebook{
	height: 180px;
	border-bottom:1px dashed #DDDDDD;
	margin-top:10px;
}	
</style>
<DIV id="searchList" style="width:950px;">
	#if($bookSearchResult)
		#foreach($book in $bookSearchResult.bookList)
	<div id="onebook" style="">
	<div style="float: left; height: 160px; width: 120px;">
		<a href="/detail/bookDetail.do?bookInfoId=$book.bookInfoId" target="_blank"><img class="m_sub_img" height=160px; width=120px; src="$book.bookImgUrl"></a>
	</div>
	<div style="float: right; height: 160px; overflow: hidden; width: 800px;">
		<div id="up">
		<h3>图书信息：<a href="/detail/bookDetail.do?bookInfoId=$book.bookInfoId" target="_blank">$book.bookName</a></h3>
		作者：$book.bookAuthor   出版时间：$book.bookPublishTime
		</div>
		<div id="mid">
		<h3>拥有者信息：</h3>
		姓名：$book.bookOwners
		</div>
		<div id="down">
		<h3>简介：</h3>
		$book.bookDescription
		</div>
	</div>
	</div>
		#end
	#else
		Search engine Test failed, please check your configuration.
	#end
	
	<div>
		#set($totalCount = $bookSearchResult.totalCount)
		#if($totalCount && $totalCount > 0)
			#parse("templates/common/pageTurn.vm")
		#end
	</div>
</DIV>

#parse("templates/common/footer.vm")
