#parse("/templates/common/header.vm")

<style>
#onebook{
	height: 180px;
	border-bottom:1px dashed #DDDDDD;
	margin-top:10px;
}
</style>

<DIV id="searchList" style="width:950px;">

	<style>
		.imageBorder {
			-moz-border-radius:3px 3px 3px 3px;
			-moz-box-shadow:1px 1px 1px 1px #999999;
			float:left;
			padding: 2px;
			margin-top: 3px;
			height:160px;
			width:120px;
			margin-left: -3px;
		}
		.book-search-info{
			margin-top: 5px;
		}
		.book-search-info LI {
			BORDER-BOTTOM: #ddd 1px dashed; PADDING-BOTTOM: 4px; height:19px; WIDTH: 305px; MARGIN-BOTTOM: 4px;overflow:hidden;
		}
		.book-search-list{
			margin-right: 10px;
			float:left;
			width:446px;
			height:172px;
			border: 1px solid rgb(228, 228, 228);
			padding: 0px 8px;
			margin-bottom: 5px;
		}
	</style>
<SCRIPT type=text/javascript>
jQuery(function () {
  	var t;
	jQuery('.imageBorder').hover(
        function () {
            if (t) {
                window.clearTimeout(t);
            }
            var that = this;
            t = window.setTimeout(function () {
                var detailFrame = jQuery('.detail-frame', that).html();
                var thisX = jQuery('img', that).offset().left;
                var thisY = jQuery('img', that).offset().top;

                if (jQuery(that).width() == 104) {
                    var ml = 114;
                } else {
                    var ml = jQuery('img', that).width() + 10;
                }

                jQuery('body').append('<div class="detail-tip shadow-right"></div>');
                jQuery('.detail-tip').html(detailFrame)
                .append('<span class="arrow-left"></span>')
                .css('left', thisX + ml)
                .css('top', thisY);
            }, 200);
        },
        function () {
            if (t) {
                window.clearTimeout(t);
            }
            jQuery('.detail-tip').remove();
        }
    );
  });
</script>
            <style>
.ww-light{overflow:hidden;}
.ww-block{display:block;margin-top:3px;}
.ww-inline{display:inline-block;vertical-align:text-bottom;}
.ww-light a{background:url(/static/images/wangwang.gif) no-repeat 0 0;text-decoration:none!important;width:20px;height:20px;zoom:1;}
.ww-large a{width:67px;}
a.ww-offline{background-position:0 -20px;}
a.ww-mobile{background-position:0 -40px;}
.ww-small .ww-online{background-position:-80px 0;}
.ww-small .ww-offline{background-position:-80px -20px;}
.ww-small .ww-mobile{background-position:-80px -40px;}
.ww-static .ww-online{background-position:-110px 0;}
.ww-static .ww-offline{background-position:-110px -20px;}
.ww-static .ww-mobile{background-position:-110px -40px;}
.ww-light a span{display:block; padding-left: 23px; padding-top: 3px;}
.nodisplay{ display:none}
            </style>
	<div>

#macro( fixUserNameStrLength $name $state)
	#if($name.length() ==2)
		&nbsp;$name.substring(0,1)&nbsp;&nbsp;&nbsp;$name.substring(1,2)
	#elseif($name.length() > 3)
		<span style="padding-left: 0px; padding-top: 0px;" title="$name[当前状态：$state]">$name.substring(0,3)..</span>
	#else
		$name
	#end
#end

	#if($bigObjectPage)
		#foreach($book in $bigObjectPage.bigObjects)
			#set($bgColor = "")
			#if($velocityCount=="1" || $velocityCount=="2" || $velocityCount=="5" || $velocityCount=="6" || $velocityCount=="9" )
				#set($bgColor = "#E7F5F6")
			#end
		<div class="aside movie_headerline book-search-list" style="background:$bgColor">
            <div class="left_conner"><em> </em> <b> </b></div>
            <div class="first"><em> </em> <b> </b></div>
            <div class="last"><em> </em> <b> </b></div>
            <div class="imageBorder">
            	<img width="120px;" height="160px;" src="$imageServer/$book.info.imgUrl" class="m_sub_img">
				<DIV class="detail-frame">
					<H3><B>书籍简介:</B></H3>
					<P>
					    #if($!book.description.length() > 200)
						   $!book.info.description.substring(0,200)...
   						#else
						   $!book.info.description
   						#end
					</P>
				</DIV>
            </div>
            <div class="newtags" style="float:right">
                <ul class="book-search-info">
                	<div style="height: 150px;" class="ownerInfo">
                    	<li><b>书名：</b><a href="/detail/bookDetail.do?bookInfoId=$book.info.id" title="$book.info.name" target="_blank">$book.info.name</a></li>
                    	<li title="$!book.info.author"><b>作者：</b>$!book.info.author</li>
                    	<li><b>ISBN：</b>$!book.info.isbn</li>
						<li><b>出版时间：</b>#if($book.info.publishTime)$date.format("yyyy-MM-dd",$!book.info.publishTime)#end</li>
                    	<li><b>拥有者：</b>
                    		#set($canLend = "1")
				            #foreach($bookItem in $book.item)
	                    		#set($state = "不可借")
				            	#if($bookItem.state == 'idle' && ($!book.info.storeState =='both' || $!book.info.storeState == 'paper'))
				            		#set($canLend = "2")##设置总的可借状态
		                    		#set($state = "可借")##设置单个人的可借状态
	            				#end
							<span class="ww-light ww-large" data-username="$bookItem.owner.aliTalkId">
							  <span id="loading-$bookItem.owner.aliTalkId"><img src="/static/images/loading.gif" style="" title="loading..."/>loading...</span>
							  <a data-username="$bookItem.owner.aliTalkId" id="wangwang" target="_blank" href="#" class="ww-inline ww-online nodisplay" title="[当前状态：$state]">
							    <span>#fixUserNameStrLength($!bookItem.owner.name $state)</span>
							  </a>
							</span>
							#end
						</li>
                    	<li>
                    		<b>是否可借：</b>
                    		#if($canLend == "1")
                    			不可借
                    		#else
                    			可借
		                    #end
		                    #if($!book.info.eBookUrl)
		                    	<a href="$ebookServer$!book.info.eBookUrl">下载</a>
                    		#end
                    		<span style="float:right">
                    			#if($!book.info.storeState =='both' || $!book.info.storeState == 'paper')
	                    			<img src="/static/images/pbook.gif" style="width: 19px; height: 18px;" title="实体书"/>
                    			#end
                    			#if($!book.info.storeState =='both' || $!book.info.storeState == 'ebook')
	                    			<img src="/static/images/ebook.gif" style="width: 19px; height: 18px;" title="电子书"/>
                    			#end
                    		</span>
                    	</li>
					</div>
                </ul>
			</div>
		</div>
			#end
	#else
		Search engine Test failed, please check your configuration.
	#end
	</div>
	<div class="CLEAR: both;">&nbsp;</div>
	<div>
		#set($totalCount = $bigObjectPage.totalCount)
		#if($totalCount && $totalCount > 0)
			#parse("templates/common/pageTurn.vm")
		#end
	</div>
</DIV>
#parse("templates/common/footer.vm")
<SCRIPT type=text/javascript>
jQuery(function () {
	jQuery("a#wangwang").each(function(ind){
		var obj = jQuery(this);
		var username = jQuery(this).attr("data-username")
		var imgSrc = "http://amos.im.alisoft.com/online.aw?v=2&uid=" +username+ "&site=cnalichn&s=1";
		var wwSrc  = "http://amos.im.alisoft.com/msg.aw?v=2&uid=" +username+ "&site=cnalichn&s=1";
		var httpUrl = "$base/book/search!findWangWang.do";
		obj.attr("href",wwSrc);
		jQuery.get(httpUrl,{"httpUrl":imgSrc,"aliTalk":username},function(data, status){
			if('yes' != data){
				jQuery("span#loading-"+username).addClass("nodisplay")
				obj.removeClass("nodisplay");
				obj.removeClass("ww-online");
				obj.addClass("ww-offline");
			}
		});
	});
});
</SCRIPT>