#parse("/templates/common/header.vm")

<style>
#onebook{
	height: 180px;
	border-bottom:1px dashed #DDDDDD;
	margin-top:10px;
}
</style>

<DIV id="searchList" style="width:950px;">

	<style>
		.imageBorder {
			-moz-border-radius:3px 3px 3px 3px;
			-moz-box-shadow:1px 1px 1px 1px #999999;
			float:left;
			padding: 2px;
			margin-top: 3px;
			height:160px;
			width:120px;
			margin-left: -3px;
		}
		.book-search-info{
			margin-top: 5px;
		}
		.book-search-info LI {
			BORDER-BOTTOM: #ddd 1px dashed; PADDING-BOTTOM: 4px; height:19px; WIDTH: 305px; MARGIN-BOTTOM: 4px;overflow:hidden;
		}
		.book-search-list{
			margin-right: 10px;
			float:left;
			width:446px;
			height:180px;
			border: 1px solid rgb(228, 228, 228);
			padding: 0px 8px;
			margin-bottom: 5px;
		}
	</style>
<SCRIPT type=text/javascript>
jQuery(function () {
  	var t;
	jQuery('.imageBorder').hover(
        function () {
            if (t) {
                window.clearTimeout(t);
            }
            var that = this;
            t = window.setTimeout(function () {
                var detailFrame = jQuery('.detail-frame', that).html();
				if (detailFrame == null) {
					detailFrame = "暂无介绍信息...";
				}
                var thisX = jQuery('img', that).offset().left;
                var thisY = jQuery('img', that).offset().top;

                if (jQuery(that).width() == 104) {
                    var ml = 114;
                } else {
                    var ml = jQuery('img', that).width() + 10;
                }

                jQuery('body').append('<div class="detail-tip shadow-right"></div>');
                jQuery('.detail-tip').html(detailFrame)
                .append('<span class="arrow-left"></span>')
                .css('left', thisX + ml)
                .css('top', thisY);
            }, 200);
        },
        function () {
            if (t) {
                window.clearTimeout(t);
            }
            jQuery('.detail-tip').remove();
        }
    );
  });
</SCRIPT>

	<div>

#parse("/templates/common/wwMacro.vm")

	#if($bigObjectPage && $bigObjectPage.bigObjects.size() > 0)
		#foreach($book in $bigObjectPage.bigObjects)
			#set($bgColor = "")
			#if($velocityCount=="1" || $velocityCount=="2" || $velocityCount=="5" || $velocityCount=="6" || $velocityCount=="9" )
				#set($bgColor = "#E7F5F6")
			#end
		<div class="aside movie_headerline book-search-list" style="background:$bgColor">
            <div class="left_conner"><em> </em> <b> </b></div>
            <div class="first"><em> </em> <b> </b></div>
            <div class="last"><em> </em> <b> </b></div>
            <div class="imageBorder">
            	<img width="120px;" height="160px;" src="$!{imageServer}$!{book.info.imgUrl}" class="m_sub_img" style="cursor: pointer;" onclick="javascript:window.open('/detail/bookDetail.do?bookInfoId=$book.info.id&log=detail&log1=$book.info.id')">
				<DIV class="detail-frame">
					<H3><B>书籍简介:</B></H3>
					<P>
					    #if($!book.info.description && $!book.info.description.length() > 200)
						   $!book.info.description.substring(0,200)...
   						#else
						   $!book.info.description
   						#end
					</P>
				</DIV>
            </div>
            <div class="newtags" style="float:right">
                <ul class="book-search-info">
                	<div style="height: 150px;" class="ownerInfo">
                    	<li><b>书名：</b><a href="/detail/bookDetail.do?bookInfoId=$book.info.id&log=detail&log1=$book.info.id" title="$book.info.name" target="_blank">$book.info.name</a></li>
                    	<li title="$!book.info.author"><b>作者：</b>$!book.info.author</li>
                    	<li><b>ISBN：</b>$!book.info.isbn</li>
						<li><b>出版时间：</b>#if($book.info.publishTime)$date.format("yyyy-MM-dd",$!book.info.publishTime)#end</li>
                    	<li><b>拥有者：</b>
                    		#set($canLend = "1")
			            	#set($bookownerList = "[")
				            #foreach($bookItem in $book.item)
				            	#set($tempOwner = "["+$bookItem.owner.aliTalkId+"],")
				            	#if($bookownerList.indexOf($tempOwner) == -1)
					            	#set($bookownerList = $bookownerList + $bookItem.owner.aliTalkId + "],")
		                    		#set($state = "不可借")
					            	#if($bookItem.state == 'idle' && ($!book.info.storeState =='both' || $!book.info.storeState == 'paper'))
					            		#set($canLend = "2")##设置总的可借状态
			                    		#set($state = "可借")##设置单个人的可借状态
		            				#end
		            				#showWW($bookItem.owner.aliTalkId $bookItem.owner.name $state)
								#end
							#end
						</li>
                    	<li>
                    		<b>是否可借：</b>
                    		#if($canLend == "1")
                    			不可借
                    		#else
                    			可借
		                    #end
		                    #if($!book.info.eBookUrl)
		                    	<a href="$ebookServer$!book.info.eBookUrl">下载</a>
							#end
							&nbsp;&nbsp;&nbsp;&nbsp;
                    		<span>
                    			#if($!book.info.storeState =='both' || $!book.info.storeState == 'paper')
	                    			<img src="/static/images/pbook.gif" style="width: 19px; height: 18px; cursor: pointer;" onclick="javascript:window.open('/detail/bookDetail.do?bookInfoId=$book.info.id&log=detail&log1=$book.info.id')" title="实体书,点击查看详细"/>
                    			#end
                    			#if($!book.info.storeState =='both' || $!book.info.storeState == 'ebook')
	                    			<img src="/static/images/ebook.gif" style="width: 19px; height: 18px; cursor: pointer;" onclick="javascript:window.open('$ebookServer$!book.info.eBookUrl')" title="电子书,点击下载"/>
                    			#end
                    		</span>
                    	</li>
					</div>
                </ul>
			</div>
		</div>
			#end
	#else
		<div style="text-align:center; width:100%; margin-top:50px">
		<h2>暂无相关的书籍</h2>
		</div>
	#end
	</div>
	<div class="CLEAR: both;">&nbsp;</div>
	<div>
		#set($totalCount = $bigObjectPage.totalCount)
		#if($totalCount && $totalCount > 0)
			#parse("templates/common/pageTurn.vm")
		#end
	</div>
</DIV>
#parse("templates/common/footer.vm")

<script type=text/javascript src="$base/static/js/wwState.js"></script>
