<html>
<body>
##用户申请帐号,审核通过邮件
尊敬的$!{info.owner.name}:<br/>
     您的账号$!{info.owner.loginId}已申请成功，感谢您对图书管理平台的支持！
     <a href="http://goldroom.ali-learn.com/">现在就去逛逛</a>。
     
    <br/>
    <a href="http://athena.hz.ali.com:8080/home.htm">黄金屋[Gold Room]</a>
</body>
</html>