<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
	<bean id="propertyConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:goldroom.properties</value>
		</property>
	</bean>

 	<import resource="spring/goldroom-db.xml" />
	<import resource="spring/goldroom-dal.xml" />
	<import resource="spring/goldroom-service.xml" />
	<import resource="spring/goldroom-util.xml" />
	<import resource="spring/goldroom-search.xml" />
	<import resource="spring/mail/mail.xml" />
	<import resource="spring/goldroom-loop.xml" />
	<import resource="spring/goldroom-weibo.xml" />
</beans>