#parse("/templates/common/header.vm")
<table width="800" border="0" align="center">
  <tr align="center">
    <td height="60" colspan="2"><H1>黄金屋用户\系统调研活动隆重启动</H1></td>
  </tr>
  <tr valign="top">
    <td height="250" colspan="2" >
		黄金屋系统将于2010-07-05到2010-07-11开展市场调研活动，活动后将有丰厚礼品相送！赶紧参加吧~或许你就是那位幸运儿~
	</td>
  </tr>
  <tr>
    <td width="650" height="32">&nbsp;</td>
    <td width="150" align="center">2010-07-05</td>
  </tr>
</table>
#parse("templates/common/footer.vm")

