#parse("/templates/common/header.vm")
<table width="800" border="0" align="center">
  <tr align="center">
    <td height="60" colspan="2"><H1>热烈庆祝黄金屋系统启用新页面模板</H1></td>
  </tr>
  <tr valign="top">
    <td height="250" colspan="2" >
		<img src="/images/new4-1.jpg"/>
		<img src="/images/new4-2.jpg"/>
		<img src="/images/new4-3.jpg"/>
		<img src="/images/new4-4.jpg"/>
	</td>
  </tr>
  <tr>
    <td width="650" height="32">&nbsp;</td>
    <td width="150" align="center">2010-11-30</td>
  </tr>
</table>
#parse("templates/common/footer.vm")

