#parse("/templates/common/header.vm")
<table width="800" border="0" align="center">
  <tr align="center">
    <td height="60" colspan="2"><H1>热烈庆祝黄金屋系统启用新页面模板</H1></td>
  </tr>
  <style>
  	#sidebar-tab{border:1px solid #ccf;margin-bottom:1.5em;overflow:hidden;}
	#tab-title .current{color:#356aa0;border-bottom:0px;padding:5px 14px;} /* 当前选中标题时的样式 */
	#tab-title h3{color:#666;font-size:15px;font-weight:400;}
	#tab-1,#tab-2,#tab-3{padding:5px 7px;border-bottom:1px solid #ccf;cursor:pointer;}
	#tab-2{border:1px solid #ccf;border-top:none;}
	.tab-2,.tab-3{display:none;} 
	#tab-content ul{padding:5px 10px;overflow:hidden;}
	#tab-content ul li{padding-top:5px;height:20px;}
  </style>
  <div id="sidebar-tab">
	<div id="tab-title">
		<h3><span id="tab-1" class="current">最新评论</span><span id="tab-2">近期热评</span><span id="tab-3">随机文章</span></h3>
	</div> 
	<div id="tab-content">
		<ul class="tab-1">1</ul>
		<ul class="tab-2">2</ul>
		<ul class="tab-3">3</ul>
	</div> 
  </div>
  <script type='text/javascript'>
  	jQuery('#tab-title span').mouseover(function(){ 
		jQuery(this).addClass("current").siblings().removeClass(); 
		jQuery("."+jQuery(this).attr("id")).show().siblings().hide(); 
	});
  </script>
  <tr valign="top">
    <td height="250" colspan="2" >
    	<B>-------------------------------------------    首页    -------------------------------------------</B><br/>
		<img src="/images/new4-1.jpg"/>
    	<br/><br/><br/><B>-------------------------------------------    书籍详情页    -------------------------------------------</B><br/>
		<img src="/images/new4-2.jpg"/>
    	<br/><br/><br/><B>-------------------------------------------    书籍搜索页    -------------------------------------------</B><br/>
		<img src="/images/new4-3.jpg"/>
    	<br/><br/><br/><B>-------------------------------------------    用户专区    -------------------------------------------</B><br/>
		<img src="/images/new4-4.jpg"/>
	</td>
  </tr>
  <tr>
    <td width="650" height="32">&nbsp;</td>
    <td width="150" align="center">2011-01-01</td>
  </tr>
</table>
#parse("templates/common/footer.vm")

