<form id="logIn" name="logIn" action="j_spring_security_check" method="post"">
                    <table width="330" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr>
								<td align="left" valign="top"><img src="$SERVER_NAME/images/boxlogin_top.gif" height="7" width="330"></td>
            				</tr>
                            <tr>
                                <td class="boxlogin" valign="top" align="left"><font color="#75A413">用户名</font>
                                    <input type="text" name="j_username" id="username" class="logintxtbox"/>
                                    <font color="#75A413">密　码 </font><input   id="password" type="password" name="j_password" class="logintxtbox"/>
                                    <input type="checkbox" name="_spring_security_remember_me" id="spring_security_remember_me"/>
									<lable for="spring_security_remember_me"><font color="#999999" size="2">在这台电脑上记住我</font></lable>
									<br/>
									<input type="submit" value="登录" />&nbsp;&nbsp;&nbsp;
									<a href="$SERVER_NAME/user/applyUser.htm"><font color="#75A413" size="2">申请帐号</font></a>&nbsp;&nbsp;&nbsp;
									<a href="#"><font color="#75A413" size="2">忘记密码了</font></a>
									<br/>
                                      
                                </td>
                            </tr>
                            <tr>
								<td align="left" valign="top"><img src="$SERVER_NAME/images/boxlogin_bottom.gif" height="7" width="330"></td>
            				</tr>
                        </tbody>
                    </table>
</form>