##如果总的记录数为0,则不显示该翻页条
#if($pageNavView.totalPage > 0)
	<script language="javascript">
	
	## 实现跳转的函数
	function gotoPage(){
	  ##匹配formatString中的页码符号
	  var gotopage=document.getElementById('gotopage')
	 ##检查输入的是否数字
	  if(isNaN(gotopage.value)){
	    alert('Please input valid page number !');
	    return;
	  }
	  //
	  var page = eval(gotopage.value);
	  
	  ##检查页码是否在正确的范围内
	  if(page < 1 || page > $pageNavView.totalPage){
	    alert('请输入正确的页数（1～$pageNavView.totalPage）!');
	    return;
	  }
	  ##替换并跳转
	  var gotoUrl = '${pageNavView.currentUrl}'+"&page="+page;
	  //alert(gotoUrl);
	  document.location = gotoUrl;
	}
	</script>
	<div id="pagenav" style="width: 80%;margin:auto; height:25px">
	  ##判断是否需要出现跳转按钮
	  #if($pageNavView.totalPage > 1)
    	  <div style="float:right; font-size:14px">
    		$pageNavView.currentPage / $pageNavView.totalPage &nbsp;
    	    <label for="gotopage">跳转到第 <input size="3" id="gotopage">页</label>
    	    <input type="button" value="Go" onclick="gotoPage()">
    	   </div>
    	   <div style=" float:left; font-size:14px">
    	  &nbsp;&nbsp;&nbsp;&nbsp;
    	  #if($pageNavView.prePage > 0)<a href="${pageNavView.currentUrl}&page=${pageNavView.prePage}">&lt;&lt; 上一页&nbsp;</a> #end
    	  #foreach($item in [1..$pageNavView.totalPage])
			#if($item == $pageNavView.currentPage)
				[${item}]
			#else
				<a href="${pageNavView.currentUrl}&page=$item">[${item}]</a>
			#end
    	  #end
    	  #if($pageNavView.nextPage > 0)<a href="${pageNavView.currentUrl}&page=${pageNavView.nextPage}">&nbsp;下一页&gt;&gt;</a> #end
    
    	  </div>
	  #else
		<div style="float:right; font-size:14px">
		$pageNavView.currentPage / $pageNavView.totalPage &nbsp;
	   </div>
	  #end
	  
	  
	</div>
#end
