<table border="0" cellpadding="0" cellspacing="0" width="389">          
	<form action="$SERVER_NAME/search.htm" method="get" name="search" id="search">
          <tbody><tr>
            <td align="left" valign="top" width="271"><table border="0" cellpadding="0" cellspacing="0" width="254">
              <tbody><tr>
                <td colspan="3" align="left" valign="top"><img src="$SERVER_NAME/images/internal_txtbox_top.gif" height="9" width="406"></td>
                </tr>
              <tr>
                <td align="left" valign="top" width="5"><img src="$SERVER_NAME/images/internal_txtbox_left.gif" height="22" width="5"></td>
                <td align="left" bgcolor="#acd674" valign="middle" width="396"><input name="q" class="searchbox_internal" id="q" value="#if($keywords)$keywords #else 搜索图书 #end" size="55" onclick="this.value='';" onblur="javascript:if (this.value=='') this.value='搜索图书';" type="text"></td>
                <td align="left" valign="top" width="5"><img src="$SERVER_NAME/images/internal_txtbox_right.gif" height="22" width="5"></td>
              </tr>
              <tr>
                <td colspan="3" align="left" valign="top"><img src="$SERVER_NAME/images/internal_txtbox_bottom.gif" height="9" width="406"></td>
                </tr></tbody></table>
			</td>
            <td align="left" valign="top" width="8">
				<a href="#"><img src="$SERVER_NAME/images/internal_txtbox_button.gif" onclick="javascript:document.search.submit();" align="absmiddle" border="0" height="40" width="28"></a>
			</td>
            <td align="left" valign="top" width="10"><img src="$SERVER_NAME/images/internal_txtbox_side.gif" height="40" width="7"></td>
          </tr>
        </tbody>
	</form>
</table>