<html>
<body>
##应该还书了

尊敬的$!{info.borrower.name}:<br/>
     您所借阅的《$!{info.bookInfo.name}》，借阅时间为：$!{info.lending.lendTime} ~ $!{info.lending.returnTime}
     #if($info.lending.expireDays >=0 )
     	还有$!{info.lending.expireDays}天就到期了。请尽快归还。
     #else
     	已过期，
     #end
     
     <p>书主信息：
     姓名：$!{info.owner.name}
     工号：$!{info.owner.workId}
     Email: $!{info.owner.email}
     贸易通：$!{info.owner.aliTalkId}
     #if($info.owner.location)
     位置：$!{info.owner.location}
     #end
     #if($!{info.owner.ext})
     分机：$!{info.owner.ext}
     #end
     </p>
     <br/>
     <a href="http://goldroom.ali-learn.com/">黄金屋[Gold Room]</a>
</body>
</html>
